
<section>
  <div class="row">
    <div class="affiliates">
      <div class="affiliates__title"><span>Філіали</span></div>
      <div class="affiliates-items clearfix">
        <article class="column large-6 medium-4">
          <div class="affiliates-item border_color"><a href="single_club.html">
              <div class="affiliates-item__img"><img src="./dist/images/home_bg.png" alt=""/></div>
              <div class="affiliates-item__text"><span>Київ Голосеево</span></div></a></div>
        </article>
        <article class="column large-3 medium-4">
          <div class="affiliates-item border_color border_color_2"><a href="single_club.html">
              <div class="affiliates-item__img"><img src="./dist/images/home_bg.png" alt=""/></div>
              <div class="affiliates-item__text"><span>Київ Троєщина</span></div></a></div>
        </article>
        <article class="column large-3 medium-4">
          <div class="affiliates-item border_color border_color_3"><a href="single_club.html">
              <div class="affiliates-item__img"><img src="./dist/images/home_bg.png" alt=""/></div>
              <div class="affiliates-item__text"><span>Івано- Франківськ</span></div></a></div>
        </article>
      </div>
      <div class="affiliates__btn"><a class="btn btn_blue" href="rozklad.html">
           Розклад занять<i class="fas fa-arrow-right"></i></a></div>
    </div>
  </div>
</section>