
<section class="reviews-wrap">
  <div class="row">
    <div class="reviews">
      <div class="reviews__title"><span>Відгуки</span></div>
      <div class="reviews__slider">
        <div class="reviewsSlider__arrow">
          <div class="revSl-Prev"><i class="fas fa-arrow-left"></i></div>
          <div class="revSl-Next"><i class="fas fa-arrow-right"></i></div>
        </div>
        <div class="reviewsSlider">
          <article>
            <div class="reviews-item">
              <div class="reviews-item__foto"><img src="./dist/images/image.png" alt=""/></div>
              <div class="reviews-item__name"><span>Кристина Беньке</span>
                <div class="reviews-item__text">
                  <p>Сегодня ровно год как я посещаю эту студию и за год я поняла, что здесь прекраснейшие препо- даватели, которым не все-равно. Они полностью отдаются работе, вкладывают душу в то, что они делают. Мое хобби превратилось в смысл моей жизни и я благодарна за  это педагогам, которые с каждым днём только разогревают мо...</p>
                </div>
              </div>
            </div>
          </article>
          <article>
            <div class="reviews-item">
              <div class="reviews-item__foto"><img src="./dist/images/image.png" alt=""/></div>
              <div class="reviews-item__name"><span>Кристина Беньке</span>
                <div class="reviews-item__text">
                  <p>Сегодня ровно год как я посещаю эту студию и за год я поняла, что здесь прекраснейшие препо- даватели, которым не все-равно. Они полностью отдаются работе, вкладывают душу в то, что они делают. Мое хобби превратилось в смысл моей жизни и я благодарна за  это педагогам, которые с каждым днём только разогревают мо...</p>
                </div>
              </div>
            </div>
          </article>
          <article>
            <div class="reviews-item">
              <div class="reviews-item__foto"><img src="./dist/images/image.png" alt=""/></div>
              <div class="reviews-item__name"><span>Кристина Беньке</span>
                <div class="reviews-item__text">
                  <p>Сегодня ровно год как я посещаю эту студию и за год я поняла, что здесь прекраснейшие препо- даватели, которым не все-равно. Они полностью отдаются работе, вкладывают душу в то, что они делают. Мое хобби превратилось в смысл моей жизни и я благодарна за  это педагогам, которые с каждым днём только разогревают мо...</p>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="reviews__btn"><a class="btn btn_small" href="#">Всі відгуки</a></div>
      </div>
    </div>
  </div>
</section>