
<section class="block-about-wrap">
  <div class="row">
    <div class="block-about clearfix">
      <div class="block-about__title"><span>MIX STYLE </span></div>
      <div class="column large-7 mediumw-7">
        <div class="block-about__img">
          <div class="block-about__img_bg"></div><img src="./dist/images/image.png" alt=""/>
        </div>
      </div>
      <div class="column large-5 mediumw-5">
        <div class="block-about__content">
          <div class="about__content-title">
            <p>Одна из первых студий современных танцев в Киеве  и Украине. Успешно работает с  2008 года.</p>
          </div>
          <div class="about__content-text">
            <ul>
              <li>MIX стилей и направлений для разностороннего развития</li>
              <li>Мастерство опытной команды профессионалов</li>
              <li>Мечта большой сцены, которая станет реальностью</li>
              <li>Максимум замеченного и раскрытого потенциала</li>
              <li>Море позитивных эмоций</li>
              <li>Мгновения, которые вдохновляют творить</li>
              <li>Место, куда хочется возвращаться снова</li>
              <li>Маленький мир с большой целью</li>
            </ul>
          </div>
          <div class="about__content-btn"><a class="btn btn_small" href="#">про нас</a></div>
        </div>
      </div>
      <div class="column">
        <div class="block-about__links"><a href="#">НАШИ ФОТО</a><a href="#">НАШИ ВИДЕО</a></div>
      </div>
    </div>
  </div>
  <div class="block-about_pattern"></div>
</section>