
<section>
  <div class="club__map">
    <div id="map">
      <script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApj8qSzyO4DqXeQtFQPKI4mi6p-MBwlpo&amp;callback=initMap"></script>
    </div>
    <div class="row">
      <div class="map__info">
        <div class="map__title"><span>Як знайти зал Голосеево?</span></div>
        <div class="map__sub-title"><span>Доїхати громадським транспортом, або на власному авто.</span></div>
        <div class="map__btn"><a class="btn btn_red" href="#">побудувати маршрут<i class="fas fa-arrow-right"></i></a></div>
      </div>
    </div>
  </div>
</section>