
<footer>
  <div class="footer__pattern"></div>
  <div class="row">
    <div class="footer clearfix">
      <div class="column large-6">
        <div class="footer__soc column large-4 medium-4">
          <div class="footer-title"><span>Мы в соцсетях</span></div><a href="#"><img src="./dist/images/f-fb.svg" alt=""/></a><a href="#"><img src="./dist/images/f-inst.svg" alt=""/></a><a href="#"><img src="./dist/images/f-youtube.svg" alt=""/></a>
        </div>
        <div class="footer__menu column large-8 medium-8">
          <div class="footer-title"><span>Быстрий переход</span></div>
          <ul>
            <li><a href="#">Розклад</a></li>
            <li><a href="#">Оренда</a></li>
            <li><a href="#">Про нас</a></li>
            <li><a href="#">Викладачі</a></li>
            <li><a href="#">Контакти</a></li>
            <li><a href="#">Галерея</a></li>
          </ul>
        </div>
      </div>
      <div class="column large-6">
        <div class="footer__contacts clearfix">
          <div class="footer-title"><span>Контакты</span></div>
          <div class="contact-item column large-4 medium-4">
            <div class="contact-item__name"><span>Киев — Голосеево</span></div>
            <div class="contact-item__phone"><a href="tel:+38 (093) 955-59-00">+38 (093) 955-59-00</a></div>
          </div>
          <div class="contact-item column large-4 medium-4">
            <div class="contact-item__name"><span>Киев — Голосеево</span></div>
            <div class="contact-item__phone"><a href="tel:+38 (093) 955-59-00">+38 (093) 955-59-00</a></div>
          </div>
          <div class="contact-item column large-4 medium-4">
            <div class="contact-item__name"><span>Киев — Голосеево</span></div>
            <div class="contact-item__phone"><a href="tel:+38 (093) 955-59-00">+38 (093) 955-59-00</a></div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="footer__copy">
          <p>© 2018 MIX STYLE., All Rights Reserved. Розроблено людьми з LIONLINE</p>
        </div>
      </div>
    </div>
  </div>
</footer>