
<section class="home-form-wrap">
  <div class="row">
    <div class="home-form">
      <div class="home-form__title"><span>Ви ще не танцюєте?</span>
        <div class="sub-title"><span>Записуйтесь на пробне заняття вже зараз!</span></div>
      </div>
    </div>
    <div class="home-form__form">
      <form>
        <p>Ім’я</p>
        <input type="text" name="name" placeholder="Ім’я"/>
        <p>Телефон</p>
        <input type="text" name="phone" placeholder="Телефон"/>
        <button class="btn btn_red">Записатись<i class="fas fa-arrow-right"></i></button>
      </form>
    </div>
  </div>
</section>