
<section>
  <div class="row">
    <div class="dancer">
      <div class="column large-5">
        <div class="dancer__foto"><img src="./dist/images/image.png" alt=""/></div>
        <div class="dancer__foto_btn"><a class="btn btn_red" href="#dancer__filter">Графік занять тренера<i class="fas fa-arrow-down"></i></a></div>
      </div>
      <div class="dancer__info column large-6">
        <div class="dancer__name"><span>Зоряна Добровольська</span></div>
        <div class="dancer__skill">
          <ul class="clearfix">
            <li><a href="#">Hip-Hop</a></li>
            <li><a href="#">Go-Go PJ dance</a></li>
            <li><a href="#">High heels</a></li>
            <li><a href="#">High heels</a></li>
            <li><a href="#">Go-Go PJ dance</a></li>
          </ul>
        </div>
        <div class="dancer__resume">
          <div class="resume__title"><span>Резюме и достижения</span></div>
          <ul>
            <li>Танцевальный опыт 16 лет</li>
            <li>Стаж преподавания 4 года</li>
            <li>Высшие образование: современная хореография КНУКИИ</li>
            <li>Победительница и призер различных танцевальных конкурсов.</li>
            <li>Званние МС</li>
            <li>Соорганизатор всеукраинской танцевальной олимпиады г.Тернополь.</li>
            <li>Проводит мастер-классы Hip-Hop в разных городах Украины.</li>
          </ul>
          <div class="sub-title"><span>Посещала мастер-классы таких мировых хореографов как:</span></div>
          <ul>
            <li>Танцевальный опыт 16 лет</li>
            <li>Стаж преподавания 4 года</li>
            <li>Высшие образование: современная хореография КНУКИИ</li>
            <li>Победительница и призер различных танцевальных конкурсов.</li>
            <li>Званние МС</li>
            <li>Соорганизатор всеукраинской танцевальной олимпиады г.Тернополь.</li>
            <li>Проводит мастер-классы Hip-Hop в разных городах Украины.</li>
          </ul>
        </div>
        <div class="dancer__video">
          <div class="dancer__video__title"><span>Видео</span></div>
          <div class="dancer__video-item column large-6">
            <iframe src="https://www.youtube.com/embed/2oBX3AQ20s4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
          </div>
          <div class="dancer__video-item column large-6">
            <iframe src="https://www.youtube.com/embed/2oBX3AQ20s4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
          </div>
          <div class="dancer__video-item column large-6">
            <iframe src="https://www.youtube.com/embed/2oBX3AQ20s4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="affiliates_schedule active" id="dancer__filter">
    <div class="row">
      <div class="dancer__filter_title"><span>Графік занять тренера</span></div>
      <div class="dancer__filter clearfix" id="Filters">
        <div class="column large-8">
          <p>Вікові групи</p>
          <ul class="tabs-trigger controls">
            <li class="filter" data-filter=""> <span>всі групи</span></li>
            <li class="filter" data-filter=".category-1"> <span>дорослі</span></li>
            <li class="filter" data-filter=".category-2"> <span>діти (малеча)</span></li>
            <li class="filter" data-filter=".category-3"> <span>діти та підлітки</span></li>
          </ul>
        </div>
        <div class="column large-4">
          <p>Рівень</p>
          <ul class="tabs-trigger controls tabs-trigger_right">
            <li class="filter" data-filter=".jun"> <span>початковий</span></li>
            <li class="filter" data-filter=".mid"> <span>средний</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="schedule-wrap">
      <div class="row">
        <div class="schedule">
          <div class="schedule__title"><span>Київ Голосеево</span></div>
          <div class="schedule__items column large-10 large-offset-2" id="Container">
            <article class="schedule-item mix mid category-1">
              <div class="schedule-item__date">
                <div class="date-item"><span>Понеділок</span>
                  <p>13:00</p>
                </div>
                <div class="date-item"><span>Середа</span>
                  <p>18:00</p>
                </div>
                <div class="date-item"><span>Середа</span>
                  <p>18:00</p>
                </div>
              </div>
              <div class="schedule-item__img"><img src="./dist/images/image.png" alt=""/></div>
              <div class="schedule-item__info">
                <div class="name"><span>Александра  Раковец</span></div>
                <div class="styleDance"><span>Ladydance</span></div>
                <div class="level">
                  <ul>
                    <li>Дорослі</li>
                    <li>Початковий рівень </li>
                  </ul>
                </div><a class="btn btn_small" href="#">записатись</a>
                <div class="group"></div>
              </div>
            </article>
            <article class="schedule-item mix category-1">
              <div class="schedule-item__date">
                <div class="date-item"><span>Понеділок</span>
                  <p>13:00</p>
                </div>
                <div class="date-item"><span>Середа</span>
                  <p>18:00</p>
                </div>
              </div>
              <div class="schedule-item__img"><img src="./dist/images/image.png" alt=""/></div>
              <div class="schedule-item__info">
                <div class="name"><span>Александра  Раковец</span></div>
                <div class="styleDance"><span>Ladydance</span></div>
                <div class="level">
                  <ul>
                    <li>Дорослі</li>
                    <li>Початковий рівень </li>
                  </ul>
                </div><a class="btn btn_small" href="#">записатись</a>
                <div class="group"><span>група набрана</span></div>
              </div>
            </article>
            <article class="schedule-item mix category-2">
              <div class="schedule-item__date">
                <div class="date-item"><span>Понеділок</span>
                  <p>13:00</p>
                </div>
                <div class="date-item"><span>Середа</span>
                  <p>18:00</p>
                </div>
              </div>
              <div class="schedule-item__img"><img src="./dist/images/image.png" alt=""/></div>
              <div class="schedule-item__info">
                <div class="name"><span>Александра  Раковец</span></div>
                <div class="styleDance"><span>Ladydance</span></div>
                <div class="level">
                  <ul>
                    <li>діти</li>
                    <li>Початковий рівень </li>
                  </ul>
                </div><a class="btn btn_small" href="#">записатись</a>
                <div class="group"><span>група набрана</span></div>
              </div>
            </article>
            <article class="schedule-item mix category-2">
              <div class="schedule-item__date">
                <div class="date-item"><span>Понеділок</span>
                  <p>13:00</p>
                </div>
                <div class="date-item"><span>Середа</span>
                  <p>18:00</p>
                </div>
              </div>
              <div class="schedule-item__img"><img src="./dist/images/image.png" alt=""/></div>
              <div class="schedule-item__info">
                <div class="name"><span>Александра  Раковец</span></div>
                <div class="styleDance"><span>Ladydance</span></div>
                <div class="level">
                  <ul>
                    <li>діти</li>
                    <li>Початковий рівень </li>
                  </ul>
                </div><a class="btn btn_small" href="#">записатись</a>
                <div class="group"><span>група набрана</span></div>
              </div>
            </article>
            <article class="schedule-item mix category-3">
              <div class="schedule-item__date">
                <div class="date-item"><span>Понеділок</span>
                  <p>13:00</p>
                </div>
                <div class="date-item"><span>Середа</span>
                  <p>18:00</p>
                </div>
              </div>
              <div class="schedule-item__img"><img src="./dist/images/image.png" alt=""/></div>
              <div class="schedule-item__info">
                <div class="name"><span>Александра  Раковец</span></div>
                <div class="styleDance"><span>Ladydance</span></div>
                <div class="level">
                  <ul>
                    <li>підлітки</li>
                    <li>Початковий рівень </li>
                  </ul>
                </div><a class="btn btn_small" href="#">записатись</a>
                <div class="group"></div>
              </div>
            </article>
            <article class="schedule-item mix jun category-3">
              <div class="schedule-item__date">
                <div class="date-item"><span>Понеділок</span>
                  <p>13:00</p>
                </div>
                <div class="date-item"><span>Середа</span>
                  <p>18:00</p>
                </div>
              </div>
              <div class="schedule-item__img"><img src="./dist/images/image.png" alt=""/></div>
              <div class="schedule-item__info">
                <div class="name"><span>Александра  Раковец</span></div>
                <div class="styleDance"><span>Ladydance</span></div>
                <div class="level">
                  <ul>
                    <li>підлітки</li>
                    <li>Початковий рівень </li>
                  </ul>
                </div><a class="btn btn_small" href="#">записатись</a>
                <div class="group"></div>
              </div>
            </article>
            <article class="schedule-item mix mid category-3">
              <div class="schedule-item__date">
                <div class="date-item"><span>Понеділок</span>
                  <p>13:00</p>
                </div>
                <div class="date-item"><span>Середа</span>
                  <p>18:00</p>
                </div>
              </div>
              <div class="schedule-item__img"><img src="./dist/images/image.png" alt=""/></div>
              <div class="schedule-item__info">
                <div class="name"><span>Александра  Раковец</span></div>
                <div class="styleDance"><span>Ladydance</span></div>
                <div class="level">
                  <ul>
                    <li>підлітки</li>
                    <li>середній рівень </li>
                  </ul>
                </div><a class="btn btn_small" href="#">записатись</a>
                <div class="group"></div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
    <div class="dancer__btn"><a class="btn btn_green" href="#">записатись на заняття</a></div>
  </section>
</section>