
<section class="team-wrap">
  <div class="row">
    <div class="team__filter">
      <p>Тренери по залам</p>
      <ul class="tabs-trigger">
        <li class="tab-active" id="all-items" data-collection="filter" data-triger="0"> <span>Всі тренери</span></li>
        <li data-collection="filter" data-triger="gol"> <span>Київ Голосеево</span></li>
        <li data-collection="filter" data-triger="tr"> <span>Київ Троєщина</span></li>
        <li data-collection="filter" data-triger="if"> <span>Івано-Франківськ</span></li>
      </ul>
    </div>
    <div class="team-content">
      <div class="team__items">
        <article class="team-slide column large-4 medium-6" data-collection="filter" data-target="if">
          <div class="team-slide__name"><a href="#">Алина Крюкова if</a></div>
          <div class="team-slide__foto"><img src="./dist/images/image.png" alt=""/></div>
          <div class="team-slide__skill">
            <ul>
              <li><a href="#">Strip dance</a></li>
              <li><a href="#">Растяжка Stretching</a></li>
              <li><a href="#">Фитнес Mix</a></li>
              <li><a href="#">Hip-Hop</a></li>
            </ul>
          </div>
        </article>
        <article class="team-slide column large-4 medium-6" data-collection="filter" data-target="if">
          <div class="team-slide__name"><a href="#">Алина Крюкова if</a></div>
          <div class="team-slide__foto"><img src="./dist/images/image.png" alt=""/></div>
          <div class="team-slide__skill">
            <ul>
              <li><a href="#">Strip dance</a></li>
              <li><a href="#">Растяжка Stretching</a></li>
              <li><a href="#">Фитнес Mix</a></li>
              <li><a href="#">Hip-Hop</a></li>
            </ul>
          </div>
        </article>
        <article class="team-slide column large-4 medium-6" data-collection="filter" data-target="if">
          <div class="team-slide__name"><a href="#">Алина Крюкова if</a></div>
          <div class="team-slide__foto"><img src="./dist/images/image.png" alt=""/></div>
          <div class="team-slide__skill">
            <ul>
              <li><a href="#">Strip dance</a></li>
              <li><a href="#">Растяжка Stretching</a></li>
              <li><a href="#">Фитнес Mix</a></li>
              <li><a href="#">Hip-Hop</a></li>
            </ul>
          </div>
        </article>
        <article class="team-slide column large-4 medium-6" data-collection="filter" data-target="if">
          <div class="team-slide__name"><a href="#">Алина Крюкова if</a></div>
          <div class="team-slide__foto"><img src="./dist/images/image.png" alt=""/></div>
          <div class="team-slide__skill">
            <ul>
              <li><a href="#">Strip dance</a></li>
              <li><a href="#">Растяжка Stretching</a></li>
              <li><a href="#">Фитнес Mix</a></li>
              <li><a href="#">Hip-Hop</a></li>
            </ul>
          </div>
        </article>
        <article class="team-slide column large-4 medium-6" data-collection="filter" data-target="if">
          <div class="team-slide__name"><a href="#">Алина Крюкова if</a></div>
          <div class="team-slide__foto"><img src="./dist/images/image.png" alt=""/></div>
          <div class="team-slide__skill">
            <ul>
              <li><a href="#">Strip dance</a></li>
              <li><a href="#">Растяжка Stretching</a></li>
              <li><a href="#">Фитнес Mix</a></li>
              <li><a href="#">Hip-Hop</a></li>
            </ul>
          </div>
        </article>
        <article class="team-slide column large-4 medium-6" data-collection="filter" data-target="if">
          <div class="team-slide__name"><a href="#">Алина Крюкова if</a></div>
          <div class="team-slide__foto"><img src="./dist/images/image.png" alt=""/></div>
          <div class="team-slide__skill">
            <ul>
              <li><a href="#">Strip dance</a></li>
              <li><a href="#">Растяжка Stretching</a></li>
              <li><a href="#">Фитнес Mix</a></li>
              <li><a href="#">Hip-Hop</a></li>
            </ul>
          </div>
        </article>
        <article class="team-slide column large-4 medium-6" data-collection="filter" data-target="tr">
          <div class="team-slide__name"><a href="#">Алина Крюкова</a></div>
          <div class="team-slide__foto"><img src="./dist/images/image.png" alt=""/></div>
          <div class="team-slide__skill">
            <ul>
              <li><a href="#">Strip dance</a></li>
              <li><a href="#">Растяжка Stretching</a></li>
              <li><a href="#">Фитнес Mix</a></li>
              <li><a href="#">Hip-Hop</a></li>
            </ul>
          </div>
        </article>
        <article class="team-slide column large-4 medium-6" data-collection="filter" data-target="tr">
          <div class="team-slide__name"><a href="#">Алина Крюкова</a></div>
          <div class="team-slide__foto"><img src="./dist/images/image.png" alt=""/></div>
          <div class="team-slide__skill">
            <ul>
              <li><a href="#">Strip dance</a></li>
              <li><a href="#">Растяжка Stretching</a></li>
              <li><a href="#">Фитнес Mix</a></li>
              <li><a href="#">Hip-Hop</a></li>
            </ul>
          </div>
        </article>
        <article class="team-slide column large-4 medium-6" data-collection="filter" data-target="tr">
          <div class="team-slide__name"><a href="#">Алина Крюкова</a></div>
          <div class="team-slide__foto"><img src="./dist/images/image.png" alt=""/></div>
          <div class="team-slide__skill">
            <ul>
              <li><a href="#">Strip dance</a></li>
              <li><a href="#">Растяжка Stretching</a></li>
              <li><a href="#">Фитнес Mix</a></li>
              <li><a href="#">Hip-Hop</a></li>
            </ul>
          </div>
        </article>
        <article class="team-slide column large-4 medium-6" data-collection="filter" data-target="tr">
          <div class="team-slide__name"><a href="#">Алина Крюкова</a></div>
          <div class="team-slide__foto"><img src="./dist/images/image.png" alt=""/></div>
          <div class="team-slide__skill">
            <ul>
              <li><a href="#">Strip dance</a></li>
              <li><a href="#">Растяжка Stretching</a></li>
              <li><a href="#">Фитнес Mix</a></li>
              <li><a href="#">Hip-Hop</a></li>
            </ul>
          </div>
        </article>
        <article class="team-slide column large-4 medium-6" data-collection="filter" data-target="gol">
          <div class="team-slide__name"><a href="#">Алина Крюкова</a></div>
          <div class="team-slide__foto"><img src="./dist/images/image.png" alt=""/></div>
          <div class="team-slide__skill">
            <ul>
              <li><a href="#">Strip dance</a></li>
              <li><a href="#">Растяжка Stretching</a></li>
              <li><a href="#">Фитнес Mix</a></li>
              <li><a href="#">Hip-Hop</a></li>
            </ul>
          </div>
        </article>
        <article class="team-slide column large-4 medium-6" data-collection="filter" data-target="gol">
          <div class="team-slide__name"><a href="#">Алина Крюкова</a></div>
          <div class="team-slide__foto"><img src="./dist/images/image.png" alt=""/></div>
          <div class="team-slide__skill">
            <ul>
              <li><a href="#">Strip dance</a></li>
              <li><a href="#">Растяжка Stretching</a></li>
              <li><a href="#">Фитнес Mix</a></li>
              <li><a href="#">Hip-Hop</a></li>
            </ul>
          </div>
        </article>
        <article class="team-slide column large-4 medium-6" data-collection="filter" data-target="gol">
          <div class="team-slide__name"><a href="#">Алина Крюкова</a></div>
          <div class="team-slide__foto"><img src="./dist/images/image.png" alt=""/></div>
          <div class="team-slide__skill">
            <ul>
              <li><a href="#">Strip dance</a></li>
              <li><a href="#">Растяжка Stretching</a></li>
              <li><a href="#">Фитнес Mix</a></li>
              <li><a href="#">Hip-Hop</a></li>
            </ul>
          </div>
        </article>
        <article class="team-slide column large-4 medium-6" data-collection="filter" data-target="gol">
          <div class="team-slide__name"><a href="#">Алина Крюкова</a></div>
          <div class="team-slide__foto"><img src="./dist/images/image.png" alt=""/></div>
          <div class="team-slide__skill">
            <ul>
              <li><a href="#">Strip dance</a></li>
              <li><a href="#">Растяжка Stretching</a></li>
              <li><a href="#">Фитнес Mix</a></li>
              <li><a href="#">Hip-Hop</a></li>
            </ul>
          </div>
        </article>
        <article class="team-slide column large-4 medium-6" data-collection="filter" data-target="gol">
          <div class="team-slide__name"><a href="#">Алина Крюкова</a></div>
          <div class="team-slide__foto"><img src="./dist/images/image.png" alt=""/></div>
          <div class="team-slide__skill">
            <ul>
              <li><a href="#">Strip dance</a></li>
              <li><a href="#">Растяжка Stretching</a></li>
              <li><a href="#">Фитнес Mix</a></li>
              <li><a href="#">Hip-Hop</a></li>
            </ul>
          </div>
        </article>
        <article class="team-slide column large-4 medium-6" data-collection="filter" data-target="gol">
          <div class="team-slide__name"><a href="#">Алина Крюкова</a></div>
          <div class="team-slide__foto"><img src="./dist/images/image.png" alt=""/></div>
          <div class="team-slide__skill">
            <ul>
              <li><a href="#">Strip dance</a></li>
              <li><a href="#">Растяжка Stretching</a></li>
              <li><a href="#">Фитнес Mix</a></li>
              <li><a href="#">Hip-Hop</a></li>
            </ul>
          </div>
        </article>
        <article class="team-slide column large-4 medium-6" data-collection="filter" data-target="gol">
          <div class="team-slide__name"><a href="#">Алина Крюкова</a></div>
          <div class="team-slide__foto"><img src="./dist/images/image.png" alt=""/></div>
          <div class="team-slide__skill">
            <ul>
              <li><a href="#">Strip dance</a></li>
              <li><a href="#">Растяжка Stretching</a></li>
              <li><a href="#">Фитнес Mix</a></li>
              <li><a href="#">Hip-Hop</a></li>
            </ul>
          </div>
        </article>
      </div>
      <div class="team__btn"><a class="btn btn_green" href="#">записатись на заняття</a></div>
    </div>
  </div>
</section>