section
	.row
		.affiliates
			.affiliates__title
				span Філіали
			.affiliates-items.clearfix
				article.column.large-6.medium-4
					.affiliates-item.border_color
						a(href="single_club.html")
							.affiliates-item__img
								img(src="./dist/images/home_bg.png", alt="")
							.affiliates-item__text
								span Київ Голосеево
				article.column.large-3.medium-4
					.affiliates-item.border_color.border_color_2
						a(href="single_club.html")
							.affiliates-item__img
								img(src="./dist/images/home_bg.png", alt="")
							.affiliates-item__text
								span Київ Троєщина
				article.column.large-3.medium-4
					.affiliates-item.border_color.border_color_3
						a(href="single_club.html")
							.affiliates-item__img
								img(src="./dist/images/home_bg.png", alt="")
							.affiliates-item__text
								span Івано- Франківськ
			.affiliates__btn
				a.btn.btn_blue(href="rozklad.html") 
					| Розклад занять
					i.fas.fa-arrow-right
							