section.block-news-wrap
	.row
		.block-news
			.block-news__title
				span Останні новини і події
			.block-news__items.clearfix
				article
					a(href="#").block-news-item.column.large-4.medium-4
						.block-news-item__img
							img(src="./dist/images/home_bg.png", alt="")
						.block-news-item__title
							span Открыт набор в новые группы
				article
					a(href="#").block-news-item.column.large-4.medium-4
						.block-news-item__img
							img(src="./dist/images/home_bg.png", alt="")
						.block-news-item__title
							span Открыт набор в новые группы
				article
					a(href="#").block-news-item.column.large-4.medium-4
						.block-news-item__img
							img(src="./dist/images/home_bg.png", alt="")
						.block-news-item__title
							span Открыт набор в новые группы
			.block-news__btn
				a.btn.btn_green(href="#")
					| більше новин
					i.fas.fa-arrow-right

