section.block-team-wrap
	.row
		.block-team
			.block-team__title
				span Команда
			.block-team__slider
				.teamSlider__arrow
					
					.teamSl-Prev
						i.fas.fa-arrow-left
					.teamSl-Next
						i.fas.fa-arrow-right
				.teamSlider
					article.team-slide
						
						.team-slide__name
							a(href="single_dancer.html") Алина Крюкова
						.team-slide__foto
							img(src="./dist/images/home_bg.png", alt="")
						.team-slide__skill
							ul
								li
									a(href="#") Strip dance
								li
									a(href="#") Растяжка Stretching
								li
									a(href="#") Фитнес Mix
								li
									a(href="#") Hip-Hop
					article.team-slide
						
						.team-slide__name
							a(href="single_dancer.html") Алина Крюкова
						.team-slide__foto
							img(src="./dist/images/home_bg.png", alt="")
						.team-slide__skill
							ul
								li
									a(href="#") Strip dance
								li
									a(href="#") Растяжка Stretching
								li
									a(href="#") Фитнес Mix
								li
									a(href="#") Hip-Hop


					article.team-slide
						
						.team-slide__name
							a(href="single_dancer.html") Алина Крюкова
						.team-slide__foto
							img(src="./dist/images/home_bg.png", alt="")
						.team-slide__skill
							ul
								li
									a(href="#") Strip dance
								li
									a(href="#") Растяжка Stretching
								li
									a(href="#") Hip-Hop
								li
									a(href="#") Фитнес Mix 


					article.team-slide
					
						.team-slide__name
							a(href="#") Алина Крюкова
						.team-slide__foto
							img(src="./dist/images/home_bg.png", alt="")
						.team-slide__skill
							ul
								li
									a(href="#") Strip dance
								li
									a(href="#") Растяжка Stretching
								li
									a(href="#") Фитнес Mix
								li
									a(href="#") Hip-Hop
					article.team-slide
						
						.team-slide__name
							a(href="#") Алина Крюкова
						.team-slide__foto
							img(src="./dist/images/home_bg.png", alt="")
						.team-slide__skill
							ul
								li
									a(href="#") Strip dance
								li
									a(href="#") Растяжка Stretching
								li
									a(href="#") Hip-Hop
								li
									a(href="#") Фитнес Mix 


					article.team-slide
					
						.team-slide__name
							a(href="#") Алина Крюкова
						.team-slide__foto
							img(src="./dist/images/home_bg.png", alt="")
						.team-slide__skill
							ul
								li
									a(href="#") Strip dance
								li
									a(href="#") Растяжка Stretching
								li
									a(href="#") Фитнес Mix
								li
									a(href="#") Hip-Hop

			.block-team__btn
				a.btn.btn_green(href="team.html")
					|вся команда
					i.fas.fa-arrow-right
.block-team_pattern



