section.reviews-wrap
	
	.row
		.reviews
			.reviews__title
				span Відгуки
			.reviews__slider
				.reviewsSlider__arrow
					
					.revSl-Prev
						i.fas.fa-arrow-left
					.revSl-Next
						i.fas.fa-arrow-right
				.reviewsSlider
					article
						.reviews-item
							.reviews-item__foto
								img(src="./dist/images/image.png", alt="")
							.reviews-item__name
								span Кристина Беньке
								.reviews-item__text
									p Сегодня ровно год как я посещаю эту студию и за год я поняла, что здесь прекраснейшие препо- даватели, которым не все-равно. Они полностью отдаются работе, вкладывают душу в то, что они делают. Мое хобби превратилось в смысл моей жизни и я благодарна за  это педагогам, которые с каждым днём только разогревают мо...
					article
						.reviews-item
							.reviews-item__foto
								img(src="./dist/images/image.png", alt="")
							.reviews-item__name
								span Кристина Беньке
								.reviews-item__text
									p Сегодня ровно год как я посещаю эту студию и за год я поняла, что здесь прекраснейшие препо- даватели, которым не все-равно. Они полностью отдаются работе, вкладывают душу в то, что они делают. Мое хобби превратилось в смысл моей жизни и я благодарна за  это педагогам, которые с каждым днём только разогревают мо...

					article
						.reviews-item
							.reviews-item__foto
								img(src="./dist/images/image.png", alt="")
							.reviews-item__name
								span Кристина Беньке
								.reviews-item__text
									p Сегодня ровно год как я посещаю эту студию и за год я поняла, что здесь прекраснейшие препо- даватели, которым не все-равно. Они полностью отдаются работе, вкладывают душу в то, что они делают. Мое хобби превратилось в смысл моей жизни и я благодарна за  это педагогам, которые с каждым днём только разогревают мо...
				.reviews__btn
					a.btn.btn_small(href="#") Всі відгуки

