section.block-about-wrap
	.row
		.block-about.clearfix
			.block-about__title
				span MIX STYLE 
			.column.large-7.mediumw-7
				.block-about__img
					.block-about__img_bg
					img(src="./dist/images/image.png", alt="")
			.column.large-5.mediumw-5
				.block-about__content
					.about__content-title
						p Одна из первых студий современных танцев в Киеве  и Украине. Успешно работает с  2008 года.
					.about__content-text
						ul
							li MIX стилей и направлений для разностороннего развития
							li Мастерство опытной команды профессионалов
							li Мечта большой сцены, которая станет реальностью
							li Максимум замеченного и раскрытого потенциала
							li Море позитивных эмоций
							li Мгновения, которые вдохновляют творить
							li Место, куда хочется возвращаться снова
							li Маленький мир с большой целью
					.about__content-btn
						a.btn.btn_small(href="#") про нас
			.column
				.block-about__links
					a(href="#") НАШИ ФОТО
					a(href="#") НАШИ ВИДЕО
	.block-about_pattern








