section
	.club__map
		#map
			script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApj8qSzyO4DqXeQtFQPKI4mi6p-MBwlpo&callback=initMap")
		.row
			.map__info
				.map__title
					span Як знайти зал Голосеево?
				.map__sub-title
					span Доїхати громадським транспортом, або на власному авто.
				.map__btn
					a.btn.btn_red(href="#")
						| побудувати маршрут
						i.fas.fa-arrow-right