footer
	.footer__pattern
	.row
		.footer.clearfix
			.column.large-6
				.footer__soc.column.large-4.medium-4
					.footer-title
						span Мы в соцсетях
					a(href="#")
						img(src="./dist/images/f-fb.svg", alt="")
					a(href="#")
						img(src="./dist/images/f-inst.svg", alt="")
					a(href="#")
						img(src="./dist/images/f-youtube.svg", alt="")
				.footer__menu.column.large-8.medium-8
					.footer-title
						span Быстрий переход
					ul
						li
							a(href="#") Розклад
						li
							a(href="#") Оренда
						li
							a(href="#") Про нас
						li
							a(href="#") Викладачі
						li
							a(href="#") Контакти
						li
							a(href="#") Галерея
			.column.large-6
				.footer__contacts.clearfix
					.footer-title
						span Контакты
					.contact-item.column.large-4.medium-4
						.contact-item__name
							span Киев — Голосеево
						.contact-item__phone
							a(href="tel:+38 (093) 955-59-00") +38 (093) 955-59-00
					.contact-item.column.large-4.medium-4
						.contact-item__name
							span Киев — Голосеево
						.contact-item__phone
							a(href="tel:+38 (093) 955-59-00") +38 (093) 955-59-00
					.contact-item.column.large-4.medium-4
						.contact-item__name
							span Киев — Голосеево
						.contact-item__phone
							a(href="tel:+38 (093) 955-59-00") +38 (093) 955-59-00
			.column
				.footer__copy
					p © 2018 MIX STYLE., All Rights Reserved. Розроблено людьми з LIONLINE

