header
	.row
		.header
			.header__soc.column.large-1
				a(href="#")
					img(src="./dist/images/h-inst.svg", alt="")
				a(href="#")
					img(src="./dist/images/h-fb.svg", alt="")
			.header__menu.column.large-10
				
				ul.menu_left
					li MIX style
						ul.sub_menu
							li
								a(href="#") MIX style2
							li
								a(href="#") MIX style3
					li
						a(href="#") Расписание
				.header__logo
					a(href="index.html")
						img(src="./dist/images/header_logo.svg", alt="")
				
				ul.menu_right
					li филиалы
						ul.sub_menu
							li
								a(href="#") филиалы2
							li
								a(href="#") филиалы3
					li
						a(href="#") цены

			.header__lang.column.large-1
				a(href="#") ru
