meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
title mixstyle
meta(name="description" content="")
meta(name="copyright" content="")
meta(name="viewport" content="width=device-width, initial-scale=1")

script(type="text/javascript" src="dist/scripts/jquery.js")
script(type="text/javascript" src="dist/scripts/main.js") 

link(rel="stylesheet" href="dist/styles/main.css")
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet")
link(rel="shortcut icon" type="image/png" href="dist/images/favicon.png")

