section
	.home-video
		.home-video__video
			img(src="./dist/images/home_bg.png", alt="")
		.home-video__title
			.page_title
				span Сучасні танці вже зараз!
			.page_sub_title
				span Відкритейте для себе новий світ танців вже сьогодні!
		.home-video__btn
			a.btn.btn_red(href="#") 
				
				| пробне заняття
				i.fas.fa-arrow-right
		.home-video_pattern
