section.home-form-wrap

	.row
		.home-form
			.home-form__title
				span Ви ще не танцюєте?
				.sub-title
					span Записуйтесь на пробне заняття вже зараз!
		.home-form__form
			form
				p Ім’я
				input(type="text" name="name" placeholder="Ім’я")
				p Телефон
				input(type="text" name="phone" placeholder="Телефон")
				button.btn.btn_red
					| Записатись
					i.fas.fa-arrow-right
