section.affiliates_schedule.active
	.row
		.schedule__filter.column.large-7
			p Вікові групи
			ul.tabs-trigger
				li(data-collection="schedule_filter-golos", data-triger="adults") 
					span дорослі
				li(data-collection="schedule_filter-golos", data-triger="children") 
					span діти (малеча)
				li(data-collection="schedule_filter-golos", data-triger="teens") 
					span діти та підлітки
						
	.schedule-wrap
		.row
			.schedule
				.schedule__title
					span Київ Голосеево
				.schedule__items.column.large-10.large-offset-2
					article.schedule-item(data-collection="schedule_filter-golos", data-target="adults")
						
							.schedule-item__date
								.date-item
									span Понеділок
									p 13:00
								.date-item
									span Середа
									p 18:00
								.date-item
									span Середа
									p 18:00
							.schedule-item__img
								img(src="./dist/images/image.png", alt="")
							.schedule-item__info
								.name
									span Александра  Раковец
								.styleDance
									span Ladydance
								.level
									ul
										li Дорослі
										li Початковий рівень 
								a.btn.btn_small(href="#") записатись
								.group
									span група набрана
					article.schedule-item(data-collection="schedule_filter-golos", data-target="adults")
						
							.schedule-item__date
								.date-item
									span Понеділок
									p 13:00
								.date-item
									span Середа
									p 18:00
							.schedule-item__img
								img(src="./dist/images/image.png", alt="")
							.schedule-item__info
								.name
									span Александра  Раковец
								.styleDance
									span Contemporary
								.level
									ul
										li Дорослі
										li Початковий рівень 
								a.btn.btn_small(href="#") записатись
								.group
									span група набрана
					article.schedule-item(data-collection="schedule_filter-golos", data-target="adults")
						
							.schedule-item__date
								.date-item
									span Понеділок
									p 13:00
								.date-item
									span Середа
									p 18:00
							.schedule-item__img
								img(src="./dist/images/image.png", alt="")
							.schedule-item__info
								.name
									span Александра  Раковец
								.styleDance
									span Ladydance
								.level
									ul
										li Дорослі
										li Початковий рівень 
								a.btn.btn_small(href="#") записатись
								.group
									span група набрана
					article.schedule-item(data-collection="schedule_filter-golos", data-target="adults")
						
							.schedule-item__date
								.date-item
									span Понеділок
									p 13:00
								.date-item
									span Середа
									p 18:00
							.schedule-item__img
								img(src="./dist/images/image.png", alt="")
							.schedule-item__info
								.name
									span Александра  Раковец
								.styleDance
									span Ladydance
								.level
									ul
										li Дорослі
										li Початковий рівень 
								a.btn.btn_small(href="#") записатись
								.group
									span група набрана
					article.schedule-item(data-collection="schedule_filter-golos", data-target="children")
						
							.schedule-item__date
								.date-item
									span Понеділок
									p 13:00
								.date-item
									span Середа
									p 18:00
							.schedule-item__img
								img(src="./dist/images/image.png", alt="")
							.schedule-item__info
								.name
									span Александра  Раковец
								.styleDance
									span Ladydance
								.level
									ul
										li діти
										li Початковий рівень 
								a.btn.btn_small(href="#") записатись
								.group
									span група набрана
					article.schedule-item(data-collection="schedule_filter-golos", data-target="children")
						
							.schedule-item__date
								.date-item
									span Понеділок
									p 13:00
								.date-item
									span Середа
									p 18:00
							.schedule-item__img
								img(src="./dist/images/image.png", alt="")
							.schedule-item__info
								.name
									span Александра  Раковец
								.styleDance
									span Ladydance
								.level
									ul
										li діти
										li Початковий рівень 
								a.btn.btn_small(href="#") записатись
								.group
									span група набрана
					article.schedule-item(data-collection="schedule_filter-golos", data-target="children")
						
							.schedule-item__date
								.date-item
									span Понеділок
									p 13:00
								.date-item
									span Середа
									p 18:00
							.schedule-item__img
								img(src="./dist/images/image.png", alt="")
							.schedule-item__info
								.name
									span Александра  Раковец
								.styleDance
									span Ladydance
								.level
									ul
										li діти
										li Початковий рівень 
								a.btn.btn_small(href="#") записатись
								.group
									span група набрана
					article.schedule-item(data-collection="schedule_filter-golos", data-target="teens")
						
							.schedule-item__date
								.date-item
									span Понеділок
									p 13:00
								.date-item
									span Середа
									p 18:00
							.schedule-item__img
								img(src="./dist/images/image.png", alt="")
							.schedule-item__info
								.name
									span Александра  Раковец
								.styleDance
									span Ladydance
								.level
									ul
										li підлітки
										li Початковий рівень 
								a.btn.btn_small(href="#") записатись
								.group
									span група набрана
					article.schedule-item(data-collection="schedule_filter-golos", data-target="teens")
						
							.schedule-item__date
								.date-item
									span Понеділок
									p 13:00
								.date-item
									span Середа
									p 18:00
							.schedule-item__img
								img(src="./dist/images/image.png", alt="")
							.schedule-item__info
								.name
									span Александра  Раковец
								.styleDance
									span Ladydance
								.level
									ul
										li підлітки
										li Початковий рівень 
								a.btn.btn_small(href="#") записатись
								.group
									span група набрана
	.schedule__btn
			a.btn.btn_green(href="#") записатись на заняття