section
	.row
		.styles
			.styles__title
				a(href="#") Стилі
				
			.styles__filter
				ul.tabs-trigger
					li.tab-active(data-collection="1", data-triger="0") для дорослих
					li(data-collection="1", data-triger="1") для малечі
					li(data-collection="1", data-triger="2") для дітей та підлітків
					li(data-collection="1", data-triger="3") індивідуальні заняття
				a.btn.btn_all-styles(href="styles.html") 
					| всі стилі
					i.fas.fa-arrow-right
			.styles-content
				.styles__items.active(data-collection="1", data-target="0")
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.column.large-3.medium-3
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше









				.styles__items(data-collection="1", data-target="1")
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
				
				




				.styles__items(data-collection="1", data-target="2")
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					




				.styles__items(data-collection="1", data-target="3")
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
			.styles__btn
				a.btn.btn_blue(href="#")
					| Розклад занять
					i.fas.fa-arrow-right




						