section.team-wrap
	.row
		.team__filter
			p Тренери по залам
			ul.tabs-trigger
				li#all-items.tab-active(data-collection="filter", data-triger="0") 
					span Всі тренери
				li(data-collection="filter", data-triger="gol") 
					span Київ Голосеево
				li(data-collection="filter", data-triger="tr") 
					span Київ Троєщина
				li(data-collection="filter", data-triger="if") 
					span Івано-Франківськ
		.team-content
			.team__items
				article.team-slide.column.large-4.medium-6(data-collection="filter", data-target="if")
 					
					.team-slide__name
						a(href="#") Алина Крюкова if
					.team-slide__foto
						img(src="./dist/images/image.png", alt="")
					.team-slide__skill
						ul
							li
								a(href="#") Strip dance
							li
								a(href="#") Растяжка Stretching
							li
								a(href="#") Фитнес Mix
							li
								a(href="#") Hip-Hop

				article.team-slide.column.large-4.medium-6(data-collection="filter", data-target="if")
						
						.team-slide__name
							a(href="#") Алина Крюкова if
						.team-slide__foto
							img(src="./dist/images/image.png", alt="")
						.team-slide__skill
							ul
								li
									a(href="#") Strip dance
								li
									a(href="#") Растяжка Stretching
								li
									a(href="#") Фитнес Mix
								li
									a(href="#") Hip-Hop
				
				article.team-slide.column.large-4.medium-6(data-collection="filter", data-target="if")
 					
					.team-slide__name
						a(href="#") Алина Крюкова if
					.team-slide__foto
						img(src="./dist/images/image.png", alt="")
					.team-slide__skill
						ul
							li
								a(href="#") Strip dance
							li
								a(href="#") Растяжка Stretching
							li
								a(href="#") Фитнес Mix
							li
								a(href="#") Hip-Hop

				article.team-slide.column.large-4.medium-6(data-collection="filter", data-target="if")
						
						.team-slide__name
							a(href="#") Алина Крюкова if
						.team-slide__foto
							img(src="./dist/images/image.png", alt="")
						.team-slide__skill
							ul
								li
									a(href="#") Strip dance
								li
									a(href="#") Растяжка Stretching
								li
									a(href="#") Фитнес Mix
								li
									a(href="#") Hip-Hop

				article.team-slide.column.large-4.medium-6(data-collection="filter", data-target="if")
 					
					.team-slide__name
						a(href="#") Алина Крюкова if
					.team-slide__foto
						img(src="./dist/images/image.png", alt="")
					.team-slide__skill
						ul
							li
								a(href="#") Strip dance
							li
								a(href="#") Растяжка Stretching
							li
								a(href="#") Фитнес Mix
							li
								a(href="#") Hip-Hop

				article.team-slide.column.large-4.medium-6(data-collection="filter", data-target="if")
						
						.team-slide__name
							a(href="#") Алина Крюкова if
						.team-slide__foto
							img(src="./dist/images/image.png", alt="")
						.team-slide__skill
							ul
								li
									a(href="#") Strip dance
								li
									a(href="#") Растяжка Stretching
								li
									a(href="#") Фитнес Mix
								li
									a(href="#") Hip-Hop




				article.team-slide.column.large-4.medium-6(data-collection="filter", data-target="tr")
 					
					.team-slide__name
						a(href="#") Алина Крюкова
					.team-slide__foto
						img(src="./dist/images/image.png", alt="")
					.team-slide__skill
						ul
							li
								a(href="#") Strip dance
							li
								a(href="#") Растяжка Stretching
							li
								a(href="#") Фитнес Mix
							li
								a(href="#") Hip-Hop

				article.team-slide.column.large-4.medium-6(data-collection="filter", data-target="tr")
						
						.team-slide__name
							a(href="#") Алина Крюкова
						.team-slide__foto
							img(src="./dist/images/image.png", alt="")
						.team-slide__skill
							ul
								li
									a(href="#") Strip dance
								li
									a(href="#") Растяжка Stretching
								li
									a(href="#") Фитнес Mix
								li
									a(href="#") Hip-Hop
				
				article.team-slide.column.large-4.medium-6(data-collection="filter", data-target="tr")
 					
					.team-slide__name
						a(href="#") Алина Крюкова
					.team-slide__foto
						img(src="./dist/images/image.png", alt="")
					.team-slide__skill
						ul
							li
								a(href="#") Strip dance
							li
								a(href="#") Растяжка Stretching
							li
								a(href="#") Фитнес Mix
							li
								a(href="#") Hip-Hop

				article.team-slide.column.large-4.medium-6(data-collection="filter", data-target="tr")
						
						.team-slide__name
							a(href="#") Алина Крюкова
						.team-slide__foto
							img(src="./dist/images/image.png", alt="")
						.team-slide__skill
							ul
								li
									a(href="#") Strip dance
								li
									a(href="#") Растяжка Stretching
								li
									a(href="#") Фитнес Mix
								li
									a(href="#") Hip-Hop

				article.team-slide.column.large-4.medium-6(data-collection="filter", data-target="gol")
 					
					.team-slide__name
						a(href="#") Алина Крюкова
					.team-slide__foto
						img(src="./dist/images/image.png", alt="")
					.team-slide__skill
						ul
							li
								a(href="#") Strip dance
							li
								a(href="#") Растяжка Stretching
							li
								a(href="#") Фитнес Mix
							li
								a(href="#") Hip-Hop

				article.team-slide.column.large-4.medium-6(data-collection="filter", data-target="gol")
						
						.team-slide__name
							a(href="#") Алина Крюкова
						.team-slide__foto
							img(src="./dist/images/image.png", alt="")
						.team-slide__skill
							ul
								li
									a(href="#") Strip dance
								li
									a(href="#") Растяжка Stretching
								li
									a(href="#") Фитнес Mix
								li
									a(href="#") Hip-Hop

				article.team-slide.column.large-4.medium-6(data-collection="filter", data-target="gol")
 					
					.team-slide__name
						a(href="#") Алина Крюкова
					.team-slide__foto
						img(src="./dist/images/image.png", alt="")
					.team-slide__skill
						ul
							li
								a(href="#") Strip dance
							li
								a(href="#") Растяжка Stretching
							li
								a(href="#") Фитнес Mix
							li
								a(href="#") Hip-Hop

				article.team-slide.column.large-4.medium-6(data-collection="filter", data-target="gol")
						
						.team-slide__name
							a(href="#") Алина Крюкова
						.team-slide__foto
							img(src="./dist/images/image.png", alt="")
						.team-slide__skill
							ul
								li
									a(href="#") Strip dance
								li
									a(href="#") Растяжка Stretching
								li
									a(href="#") Фитнес Mix
								li
									a(href="#") Hip-Hop
				article.team-slide.column.large-4.medium-6(data-collection="filter", data-target="gol")
						
						.team-slide__name
							a(href="#") Алина Крюкова
						.team-slide__foto
							img(src="./dist/images/image.png", alt="")
						.team-slide__skill
							ul
								li
									a(href="#") Strip dance
								li
									a(href="#") Растяжка Stretching
								li
									a(href="#") Фитнес Mix
								li
									a(href="#") Hip-Hop

				article.team-slide.column.large-4.medium-6(data-collection="filter", data-target="gol")
 					
					.team-slide__name
						a(href="#") Алина Крюкова
					.team-slide__foto
						img(src="./dist/images/image.png", alt="")
					.team-slide__skill
						ul
							li
								a(href="#") Strip dance
							li
								a(href="#") Растяжка Stretching
							li
								a(href="#") Фитнес Mix
							li
								a(href="#") Hip-Hop

				article.team-slide.column.large-4.medium-6(data-collection="filter", data-target="gol")
						
						.team-slide__name
							a(href="#") Алина Крюкова
						.team-slide__foto
							img(src="./dist/images/image.png", alt="")
						.team-slide__skill
							ul
								li
									a(href="#") Strip dance
								li
									a(href="#") Растяжка Stretching
								li
									a(href="#") Фитнес Mix
								li
									a(href="#") Hip-Hop

			.team__btn
				a.btn.btn_green(href="#") записатись на заняття






