section.team-intro_bg
	.team-intro-wrap
		.row
			.page-intro
				
				.page-intro__title
					span Команда
					.sub-title
						span Тренеры MixStyle
				.page-intro__breadcrumbs
					include ./breadcrumbs
