.btn{
	position: relative;
	transition: .2s;
	
	padding: 25px 45px;
	font-size: 15px;
	text-align: center;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: $black;
	border: 2px solid #000000;
	
	z-index: 2;
	
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	align-items: center;
	font-family: "ProximaNova-Extrabld";
	
	i{
		font-size: 20px;
		margin-left: 40px;
	}
	&:after{
		content: '';
		display: block;
		position: absolute;
		width: calc(100% + 3px);
		height: calc(100% + 3px);
		right: -5px;
		bottom: -5px;
		transition: .2s;
		border-bottom-style:  solid ;
		border-right-style:    solid ;
		border-color: #000;
		border-width: 3px;
		z-index: 1;
	}
	&:hover{
		transform: translate(3px, 3px);
		z-index: 3; 
		color: #fff;
		&:after{
			transform: translate(-3px, -3px);
			z-index: 1;
			border-width: 1px;
		}
	}
	&_blue{
		color: $wt;
		background: $btn_blue;
	}
	&_red{
		color: $wt;
		background: $btn_red;
	}
	&_green{
		color: $wt;
		background: $btn_green;
	}
	&_all-styles{
		display: -webkit-inline-flex;
		display: -moz-inline-flex;
		display: -ms-inline-flex;
		display: -o-inline-flex;
		display: inline-flex;
		align-items: center;
		i{
			margin-left: 20px;
			
			
		}
		&:after{
			content: '';
			display: block;
			position: absolute;
			width: calc(100% + 3px);
			height: calc(100% + 3px);
			right: -7px;
			bottom: -7px;
			transition: .2s;
			border-bottom-style:  solid ;
			border-right-style:    solid ;
			border-color: #000;
			border-width: 5px;
			z-index: 1;
		}
		&:hover{
			color: $wt;
			transform: translate(5px, 5px);
			background: #34A189;
			&:after{
				transform: translate(-5px, -5px);
				z-index: 1;
				border-width: 1px;
			}
		}
	}
	&_small{
		padding: 10px 20px;
		background: #ffffff;
		/* background: #E8DC39; */
		&:hover{
			color: $black;
		}
	}
}































