// color

// foundation
// $body-font-family: $light;
// $body-font-color: $black80;

$paragraph-margin-bottom: 0;
$header-margin-bottom: 0;

$grid-column-gutter: (
  small: 30px,
  medium: 30px,
);


$wt:#ffffff;
$black:#030202;
$grey-bg:#F0F0F0;
$btn_blue:#5EB5BC;
$btn_red:#E15555;
$btn_green:#34A189;
