@import "common/_variables";
@import "settings/_settings";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/foundation-sites/scss/foundation.scss";
@import "../../bower_components/slick-carousel/slick/slick.scss";
// endbower

@include foundation-everything;

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";
@import "layouts/home-video";
@import "layouts/affiliates";
@import "layouts/styles";
@import "layouts/block-about";
@import "layouts/block-team";
@import "layouts/block-news";
@import "layouts/block-reviews";
@import "layouts/block-social";
@import "layouts/home-form";
@import "layouts/team-intro";
@import "layouts/team-items";
@import "layouts/stylesPage";
@import "layouts/schedule";
@import "layouts/single_dancer";
@import "layouts/single_club";






#Container{
	.mix{
		display: none;
	}
}


.intro-wrap{
	height: 100vh;
	
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(3, 2, 2, 0.4);
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-position: center;
}




@font-face {
	font-family: "ProximaNova-Black";
	src: url("../../dist/fonts/ProximaNova-Black.ttf");
}
@font-face {
	font-family: "ProximaNova-Bold";
	src: url("../../dist/fonts/ProximaNova-Bold.ttf");
}
@font-face {
	font-family: "ProximaNova-Light";
	src: url("../../dist/fonts/ProximaNova-Light.ttf");
}
@font-face {
	font-family: "ProximaNova-Regular";
	src: url("../../dist/fonts/ProximaNova-Regular.ttf");
}
@font-face {
	font-family: "ProximaNova-Extrabld";
	src: url("../../dist/fonts/ProximaNova-Extrabld.ttf");
}

.page_title{
	font-family: "ProximaNova-Extrabld";
	line-height: normal;
	font-size: 65px;
	text-align: center;
	letter-spacing: -0.5px;
	color: $wt;
	margin-bottom: 15px;
}
.page_sub_title{
	font-family: "ProximaNova-Extrabld";
	line-height: normal;
	font-size: 15px;
	text-align: center;
	letter-spacing: 0.5px;
	color: $wt;
}


.row{
	max-width: 1260px;
	margin: 0 auto;
}



body{
	font-size: 16px;
	background:#F0F0F0;
}

.breadcrumbs{
	display: flex;
	justify-content: center;
	li{
		color: $wt;
		font-family: "ProximaNova-Extrabld";
		font-style: normal;
		font-weight: bold;
		line-height: normal;
		font-size: 15px;
		text-transform: capitalize;
		a{
			color: $wt;
			font-family: "ProximaNova-Extrabld";
			font-style: normal;
			font-weight: bold;
			line-height: normal;
			font-size: 15px;

		}
	}
}

.border_color{
	position: relative;
	transition: .2s;
	font-size: 15px;
	text-align: center;
	
	/* box-sizing: content-box; */
	z-index: 2;
	/* img{
		border: 2px solid #000000;
	} */
	&:after{
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		right: -5px;
		bottom: -5px;
		transition: .2s;
		// border-bottom-style:  solid ;
		// border-right-style:    solid ;
		// border-color: #000;
		// border-width: 5px;
		background-image: repeating-linear-gradient(-45deg, #E0322E, #E0322E 30px, #282B6D 30px, #282B6D 60px);
		z-index: -1;
	}
	&:hover{
		transform: translate(5px, 5px);
		z-index: 3; 
		color: #fff;
		&:after{
			transform: translate(-5px, -5px);
			z-index: -1;
			border-width: 5px;
		}
	}
	&_2{
		&:after{
			background-image: repeating-linear-gradient(-45deg, #34A189, #34A189 30px, #DF4465 30px, #DF4465 60px);
		}
		
	}
	&_3{
		&:after{
			background-image: repeating-linear-gradient(-45deg, #32307A, #32307A 30px, #34A189 30px, #34A189 60px);
		}
		
	}
	
}


@media screen and (min-width: 40em) and (max-width: 63.9375em){

}


@media screen and (max-width: 39.9375em){

}






















