doctype
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<!--[if lte IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

html(class="no-js" lang="en-US")
	head
		include ./parts/head
	body
		include ./parts/header
		section
			.schedule-intro-wrap
				.row
					.page-intro
						
						.page-intro__title
							span Розклад занять
							.sub-title
								span Актуальний з грудня 2018р
						.page-intro__breadcrumbs
							include ./parts/breadcrumbs
		section
			.row
				.affiliates.schedule-affiliates
					.affiliatesPage__title
						span Виберіть зал занять:
					.affiliates-items.clearfix
						article.tab-active.affiliates_item.column(data-collection="affiliates_filter", data-triger="golos") 
							.affiliates-item.border_color
								a(href="#")
									.affiliates-item__img
										img(src="./dist/images/home_bg.png", alt="")
									.affiliates-item__text
										span Київ Голосеево
						article.affiliates_item.column(data-collection="affiliates_filter", data-triger="tr")
							.affiliates-item.border_color.border_color_2
								a(href="#")
									.affiliates-item__img
										img(src="./dist/images/home_bg.png", alt="")
									.affiliates-item__text
										span Київ Троєщина
						article.affiliates_item.column(data-collection="affiliates_filter", data-triger="IF")
							.affiliates-item.border_color.border_color_3
								a(href="#")
									.affiliates-item__img
										img(src="./dist/images/home_bg.png", alt="")
									.affiliates-item__text
										span Івано- Франківськ


		section.affiliates_schedule.active(data-collection="affiliates_filter", data-target="golos")
			.row
				.schedule__filter.column.large-7
					p Вікові групи
					ul.tabs-trigger
						li(data-collection="schedule_filter-golos", data-triger="adults") 
							span дорослі
						li(data-collection="schedule_filter-golos", data-triger="children") 
							span діти (малеча)
						li(data-collection="schedule_filter-golos", data-triger="teens") 
							span діти та підлітки
								
			.schedule-wrap
				.row
					.schedule
						.schedule__title
							span Київ Голосеево
						.schedule__items.column.large-10.large-offset-2
							article.schedule-item(data-collection="schedule_filter-golos", data-target="adults")
								
									.schedule-item__date
										.date-item
											span Понеділок
											p 13:00
										.date-item
											span Середа
											p 18:00
										.date-item
											span Середа
											p 18:00
									.schedule-item__img
										img(src="./dist/images/image.png", alt="")
									.schedule-item__info
										.name
											span Александра  Раковец
										.styleDance
											span Ladydance
										.level
											ul
												li Дорослі
												li Початковий рівень 
										a.btn.btn_small(href="#") записатись
										.group
											span група набрана
							article.schedule-item(data-collection="schedule_filter-golos", data-target="adults")
								
									.schedule-item__date
										.date-item
											span Понеділок
											p 13:00
										.date-item
											span Середа
											p 18:00
									.schedule-item__img
										img(src="./dist/images/image.png", alt="")
									.schedule-item__info
										.name
											span Александра  Раковец
										.styleDance
											span Contemporary
										.level
											ul
												li Дорослі
												li Початковий рівень 
										a.btn.btn_small(href="#") записатись
										.group
											span група набрана
							article.schedule-item(data-collection="schedule_filter-golos", data-target="adults")
								
									.schedule-item__date
										.date-item
											span Понеділок
											p 13:00
										.date-item
											span Середа
											p 18:00
									.schedule-item__img
										img(src="./dist/images/image.png", alt="")
									.schedule-item__info
										.name
											span Александра  Раковец
										.styleDance
											span Ladydance
										.level
											ul
												li Дорослі
												li Початковий рівень 
										a.btn.btn_small(href="#") записатись
										.group
											span група набрана
							article.schedule-item(data-collection="schedule_filter-golos", data-target="adults")
								
									.schedule-item__date
										.date-item
											span Понеділок
											p 13:00
										.date-item
											span Середа
											p 18:00
									.schedule-item__img
										img(src="./dist/images/image.png", alt="")
									.schedule-item__info
										.name
											span Александра  Раковец
										.styleDance
											span Ladydance
										.level
											ul
												li Дорослі
												li Початковий рівень 
										a.btn.btn_small(href="#") записатись
										.group
											span група набрана
							article.schedule-item(data-collection="schedule_filter-golos", data-target="children")
								
									.schedule-item__date
										.date-item
											span Понеділок
											p 13:00
										.date-item
											span Середа
											p 18:00
									.schedule-item__img
										img(src="./dist/images/image.png", alt="")
									.schedule-item__info
										.name
											span Александра  Раковец
										.styleDance
											span Ladydance
										.level
											ul
												li діти
												li Початковий рівень 
										a.btn.btn_small(href="#") записатись
										.group
											span група набрана
							article.schedule-item(data-collection="schedule_filter-golos", data-target="children")
								
									.schedule-item__date
										.date-item
											span Понеділок
											p 13:00
										.date-item
											span Середа
											p 18:00
									.schedule-item__img
										img(src="./dist/images/image.png", alt="")
									.schedule-item__info
										.name
											span Александра  Раковец
										.styleDance
											span Ladydance
										.level
											ul
												li діти
												li Початковий рівень 
										a.btn.btn_small(href="#") записатись
										.group
											span група набрана
							article.schedule-item(data-collection="schedule_filter-golos", data-target="children")
								
									.schedule-item__date
										.date-item
											span Понеділок
											p 13:00
										.date-item
											span Середа
											p 18:00
									.schedule-item__img
										img(src="./dist/images/image.png", alt="")
									.schedule-item__info
										.name
											span Александра  Раковец
										.styleDance
											span Ladydance
										.level
											ul
												li діти
												li Початковий рівень 
										a.btn.btn_small(href="#") записатись
										.group
											span група набрана
							article.schedule-item(data-collection="schedule_filter-golos", data-target="teens")
								
									.schedule-item__date
										.date-item
											span Понеділок
											p 13:00
										.date-item
											span Середа
											p 18:00
									.schedule-item__img
										img(src="./dist/images/image.png", alt="")
									.schedule-item__info
										.name
											span Александра  Раковец
										.styleDance
											span Ladydance
										.level
											ul
												li підлітки
												li Початковий рівень 
										a.btn.btn_small(href="#") записатись
										.group
											span група набрана
							article.schedule-item(data-collection="schedule_filter-golos", data-target="teens")
								
									.schedule-item__date
										.date-item
											span Понеділок
											p 13:00
										.date-item
											span Середа
											p 18:00
									.schedule-item__img
										img(src="./dist/images/image.png", alt="")
									.schedule-item__info
										.name
											span Александра  Раковец
										.styleDance
											span Ladydance
										.level
											ul
												li підлітки
												li Початковий рівень 
										a.btn.btn_small(href="#") записатись
										.group
											span група набрана


		section.affiliates_schedule(data-collection="affiliates_filter", data-target="IF")
			.row
				.schedule__filter.column.large-7
					p Вікові групи
					ul.tabs-trigger
						li(data-collection="schedule_filter-IF", data-triger="adults") 
							span дорослі
							
						li(data-collection="schedule_filter-IF", data-triger="children") 
							span діти (малеча)
						li(data-collection="schedule_filter-IF", data-triger="teens") 
							span діти та підлітки
								
			.schedule-wrap
				.row
					.schedule
						.schedule__title
							span Івано- Франківськ
						.schedule__items.column.large-10.large-offset-2
							article.schedule-item(data-collection="schedule_filter-IF", data-target="adults")
								
									.schedule-item__date
										.date-item
											span Понеділок
											p 13:00
										.date-item
											span Середа
											p 18:00
									.schedule-item__img
										img(src="./dist/images/image.png", alt="")
									.schedule-item__info
										.name
											span Александра  Раковец
										.styleDance
											span Ladydance
										.level
											ul
												li Дорослі
												li Початковий рівень 
										a.btn.btn_small(href="#") записатись
										.group
											span група набрана
							article.schedule-item(data-collection="schedule_filter-IF", data-target="adults")
								
									.schedule-item__date
										.date-item
											span Понеділок
											p 13:00
										.date-item
											span Середа
											p 18:00
									.schedule-item__img
										img(src="./dist/images/image.png", alt="")
									.schedule-item__info
										.name
											span Александра  Раковец
										.styleDance
											span Contemporary
										.level
											ul
												li Дорослі
												li Початковий рівень 
										a.btn.btn_small(href="#") записатись
										.group
											span група набрана
							article.schedule-item(data-collection="schedule_filter-IF", data-target="adults")
								
									.schedule-item__date
										.date-item
											span Понеділок
											p 13:00
										.date-item
											span Середа
											p 18:00
									.schedule-item__img
										img(src="./dist/images/image.png", alt="")
									.schedule-item__info
										.name
											span Александра  Раковец
										.styleDance
											span Ladydance
										.level
											ul
												li Дорослі
												li Початковий рівень 
										a.btn.btn_small(href="#") записатись
										.group
											span група набрана
							article.schedule-item(data-collection="schedule_filter-IF", data-target="adults")
								
									.schedule-item__date
										.date-item
											span Понеділок
											p 13:00
										.date-item
											span Середа
											p 18:00
									.schedule-item__img
										img(src="./dist/images/image.png", alt="")
									.schedule-item__info
										.name
											span Александра  Раковец
										.styleDance
											span Ladydance
										.level
											ul
												li Дорослі
												li Початковий рівень 
										a.btn.btn_small(href="#") записатись
										.group
											span група набрана
							article.schedule-item(data-collection="schedule_filter-IF", data-target="children")
								
									.schedule-item__date
										.date-item
											span Понеділок
											p 13:00
										.date-item
											span Середа
											p 18:00
									.schedule-item__img
										img(src="./dist/images/image.png", alt="")
									.schedule-item__info
										.name
											span Александра  Раковец
										.styleDance
											span Ladydance
										.level
											ul
												li діти
												li Початковий рівень 
										a.btn.btn_small(href="#") записатись
										.group
											span група набрана
							article.schedule-item(data-collection="schedule_filter-IF", data-target="children")
								
									.schedule-item__date
										.date-item
											span Понеділок
											p 13:00
										.date-item
											span Середа
											p 18:00
									.schedule-item__img
										img(src="./dist/images/image.png", alt="")
									.schedule-item__info
										.name
											span Александра  Раковец
										.styleDance
											span Ladydance
										.level
											ul
												li діти
												li Початковий рівень 
										a.btn.btn_small(href="#") записатись
										.group
											span група набрана
							article.schedule-item(data-collection="schedule_filter-IF", data-target="children")
								
									.schedule-item__date
										.date-item
											span Понеділок
											p 13:00
										.date-item
											span Середа
											p 18:00
									.schedule-item__img
										img(src="./dist/images/image.png", alt="")
									.schedule-item__info
										.name
											span Александра  Раковец
										.styleDance
											span Ladydance
										.level
											ul
												li діти
												li Початковий рівень 
										a.btn.btn_small(href="#") записатись
										.group
											span група набрана
							article.schedule-item(data-collection="schedule_filter-IF", data-target="teens")
								
									.schedule-item__date
										.date-item
											span Понеділок
											p 13:00
										.date-item
											span Середа
											p 18:00
									.schedule-item__img
										img(src="./dist/images/image.png", alt="")
									.schedule-item__info
										.name
											span Александра  Раковец
										.styleDance
											span Ladydance
										.level
											ul
												li підлітки
												li Початковий рівень 
										a.btn.btn_small(href="#") записатись
										.group
											span група набрана
							article.schedule-item(data-collection="schedule_filter-IF", data-target="teens")
								
									.schedule-item__date
										.date-item
											span Понеділок
											p 13:00
										.date-item
											span Середа
											p 18:00
									.schedule-item__img
										img(src="./dist/images/image.png", alt="")
									.schedule-item__info
										.name
											span Александра  Раковец
										.styleDance
											span Ladydance
										.level
											ul
												li підлітки
												li Початковий рівень 
										a.btn.btn_small(href="#") записатись
										.group
											span група набрана

		section.affiliates_schedule(data-collection="affiliates_filter", data-target="tr")
			.row
				.schedule__filter.column.large-7
					p Вікові групи
					ul.tabs-trigger
						li(data-collection="schedule_filter-tr", data-triger="adults") 
							span дорослі
							
						li(data-collection="schedule_filter-tr", data-triger="children") 
							span діти (малеча)
						li(data-collection="schedule_filter-tr", data-triger="teens") 
							span діти та підлітки
								
			.schedule-wrap
				.row
					.schedule
						.schedule__title
							span Київ Троєщина
						.schedule__items.column.large-10.large-offset-2
							article.schedule-item(data-collection="schedule_filter-tr", data-target="adults")
								
									.schedule-item__date
										.date-item
											span Понеділок
											p 13:00
										.date-item
											span Середа
											p 18:00
									.schedule-item__img
										img(src="./dist/images/image.png", alt="")
									.schedule-item__info
										.name
											span Александра  Раковец
										.styleDance
											span Ladydance
										.level
											ul
												li Дорослі
												li Початковий рівень 
										a.btn.btn_small(href="#") записатись
										.group
											span група набрана
							article.schedule-item(data-collection="schedule_filter-tr", data-target="adults")
								
									.schedule-item__date
										.date-item
											span Понеділок
											p 13:00
										.date-item
											span Середа
											p 18:00
									.schedule-item__img
										img(src="./dist/images/image.png", alt="")
									.schedule-item__info
										.name
											span Александра  Раковец
										.styleDance
											span Contemporary
										.level
											ul
												li Дорослі
												li Початковий рівень 
										a.btn.btn_small(href="#") записатись
										.group
											span група набрана
							article.schedule-item(data-collection="schedule_filter-tr", data-target="adults")
								
									.schedule-item__date
										.date-item
											span Понеділок
											p 13:00
										.date-item
											span Середа
											p 18:00
									.schedule-item__img
										img(src="./dist/images/image.png", alt="")
									.schedule-item__info
										.name
											span Александра  Раковец
										.styleDance
											span Ladydance
										.level
											ul
												li Дорослі
												li Початковий рівень 
										a.btn.btn_small(href="#") записатись
										.group
											span група набрана
							article.schedule-item(data-collection="schedule_filter-tr", data-target="adults")
								
									.schedule-item__date
										.date-item
											span Понеділок
											p 13:00
										.date-item
											span Середа
											p 18:00
									.schedule-item__img
										img(src="./dist/images/image.png", alt="")
									.schedule-item__info
										.name
											span Александра  Раковец
										.styleDance
											span Ladydance
										.level
											ul
												li Дорослі
												li Початковий рівень 
										a.btn.btn_small(href="#") записатись
										.group
											span група набрана
							article.schedule-item(data-collection="schedule_filter-tr", data-target="children")
								
									.schedule-item__date
										.date-item
											span Понеділок
											p 13:00
										.date-item
											span Середа
											p 18:00
									.schedule-item__img
										img(src="./dist/images/image.png", alt="")
									.schedule-item__info
										.name
											span Александра  Раковец
										.styleDance
											span Ladydance
										.level
											ul
												li діти
												li Початковий рівень 
										a.btn.btn_small(href="#") записатись
										.group
											span група набрана
							article.schedule-item(data-collection="schedule_filter-tr", data-target="children")
								
									.schedule-item__date
										.date-item
											span Понеділок
											p 13:00
										.date-item
											span Середа
											p 18:00
									.schedule-item__img
										img(src="./dist/images/image.png", alt="")
									.schedule-item__info
										.name
											span Александра  Раковец
										.styleDance
											span Ladydance
										.level
											ul
												li діти
												li Початковий рівень 
										a.btn.btn_small(href="#") записатись
										.group
											span група набрана
							article.schedule-item(data-collection="schedule_filter-tr", data-target="children")
								
									.schedule-item__date
										.date-item
											span Понеділок
											p 13:00
										.date-item
											span Середа
											p 18:00
									.schedule-item__img
										img(src="./dist/images/image.png", alt="")
									.schedule-item__info
										.name
											span Александра  Раковец
										.styleDance
											span Ladydance
										.level
											ul
												li діти
												li Початковий рівень 
										a.btn.btn_small(href="#") записатись
										.group
											span група набрана
							article.schedule-item(data-collection="schedule_filter-tr", data-target="teens")
								
									.schedule-item__date
										.date-item
											span Понеділок
											p 13:00
										.date-item
											span Середа
											p 18:00
									.schedule-item__img
										img(src="./dist/images/image.png", alt="")
									.schedule-item__info
										.name
											span Александра  Раковец
										.styleDance
											span Ladydance
										.level
											ul
												li підлітки
												li Початковий рівень 
										a.btn.btn_small(href="#") записатись
										.group
											span група набрана
							article.schedule-item(data-collection="schedule_filter-tr", data-target="teens")
								
									.schedule-item__date
										.date-item
											span Понеділок
											p 13:00
										.date-item
											span Середа
											p 18:00
									.schedule-item__img
										img(src="./dist/images/image.png", alt="")
									.schedule-item__info
										.name
											span Александра  Раковец
										.styleDance
											span Ladydance
										.level
											ul
												li підлітки
												li Початковий рівень 
										a.btn.btn_small(href="#") записатись
										.group
											span група набрана

		.schedule__btn
			a.btn.btn_green(href="#") записатись на заняття




















		include ./parts/footer



































