doctype
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<!--[if lte IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

html(class="no-js" lang="en-US")
	head
		include ./parts/head
	body
		include ./parts/header
		section
			.intro-wrap( style="background-image:url(./dist/images/dancer.png)")
				.row
					.page-intro
						.page-intro__title
							span Голосеево
							.sub-title
								span Студия танцев MIXSTYLE
						.page-intro__breadcrumbs
							include ./parts/breadcrumbs
		section
			.row
				.club_groups
					.club_groups__title
						span Группы в студии
					.styles__items.active
						article.column.large-3.medium-4
							.styles-item
								.styles-item__title
									span Jazz Funk
								a(href="#").styles-item__img
									.styles-item__img_bg
									img(src="./dist/images/image.png", alt="")
								.styles-item__btn
									a.btn.btn_small(href="#") детальніше
						article.column.large-3.medium-3
							.styles-item
								.styles-item__title
									span Jazz Funk
								a(href="#").styles-item__img
									.styles-item__img_bg
									img(src="./dist/images/image.png", alt="")
								.styles-item__btn
									a.btn.btn_small(href="#") детальніше
						article.column.large-3.medium-4
							.styles-item
								.styles-item__title
									span Jazz Funk
								a(href="#").styles-item__img
									.styles-item__img_bg
									img(src="./dist/images/image.png", alt="")
								.styles-item__btn
									a.btn.btn_small(href="#") детальніше
						article.column.large-3.medium-4
							.styles-item
								.styles-item__title
									span Jazz Funk
								a(href="#").styles-item__img
									.styles-item__img_bg
									img(src="./dist/images/image.png", alt="")
								.styles-item__btn
									a.btn.btn_small(href="#") детальніше
						article.column.large-3.medium-4
							.styles-item
								.styles-item__title
									span Jazz Funk
								a(href="#").styles-item__img
									.styles-item__img_bg
									img(src="./dist/images/image.png", alt="")
								.styles-item__btn
									a.btn.btn_small(href="#") детальніше
						article.column.large-3.medium-4
							.styles-item
								.styles-item__title
									span Jazz Funk
								a(href="#").styles-item__img
									.styles-item__img_bg
									img(src="./dist/images/image.png", alt="")
								.styles-item__btn
									a.btn.btn_small(href="#") детальніше


		include ./parts/block-team	
		.club_schedule
			.club_schedule__title
				span Розклад занять

			include ./parts/rozklad
		
		section
			.row
				.rent.clearfix
					.column.large-4
						.rent__info
							.rent__title
								span Оренда залу
							.rent__text
								p Ви можете орендувати наш зал для вашої події чи занять 
								p Звертайтесь за телефоном щоб орендувати танцювальний зал у Києві без реєстрації і смс 
								a(href="tel:+38 099 37 45 909") +38 099 37 45 909
							.rent__btn
								a.btn.btn_small(href="#") орендувати

					.column.large-8
						.rent__img
							img(src="./dist/images/image.png", alt="")



		include ./parts/club_map





		include ./parts/footer








