doctype
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<!--[if lte IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

html(class="no-js" lang="en-US")
	head
		include ./parts/head
	body
		include ./parts/header
		section
			.styles-intro-wrap
				.row
					.page-intro
						
						.page-intro__title
							span Стили
							.sub-title
								span Группы по стилям
						.page-intro__breadcrumbs
							include ./parts/breadcrumbs
			.styles-intro-pattern
		
		section
			.row
				.stiles__filter
					
					ul.tabs-trigger
						li#all-items.tab-active(data-collection="style_filter", data-triger="0") 
							span всі стилі
							i.fas.fa-arrow-right
						li(data-collection="style_filter", data-triger="gol") 
							span для дорослих
						li(data-collection="style_filter", data-triger="tr") 
							span для малечі
						li(data-collection="style_filter", data-triger="if") 
							span для дітей та підлітків


				.stiles__items

					article.styles__item.column.large-3.medium-4(data-collection="style_filter", data-target="if")
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше


					article.styles__item.column.large-3.medium-4(data-collection="style_filter", data-target="if")
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше


					article.styles__item.column.large-3.medium-4(data-collection="style_filter", data-target="if")
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше

					article.styles__item.column.large-3.medium-4(data-collection="style_filter", data-target="if")
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше


					article.styles__item.column.large-3.medium-4(data-collection="style_filter", data-target="if")
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше


					article.styles__item.column.large-3.medium-4(data-collection="style_filter", data-target="if")


						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.styles__item.column.large-3.medium-4(data-collection="style_filter", data-target="tr")
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше

								
					article.styles__item.column.large-3.medium-4(data-collection="style_filter", data-target="tr")


						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше

					article.styles__item.column.large-3.medium-4(data-collection="style_filter", data-target="gol")
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше

								
					article.styles__item.column.large-3.medium-4(data-collection="style_filter", data-target="gol")


						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.styles__item.column.large-3.medium-4(data-collection="style_filter", data-target="gol")
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше

								
					article.styles__item.column.large-3.medium-4(data-collection="style_filter", data-target="gol")


						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
				.stiles__btn
					a.btn.btn_green(href="#") записатись на заняття
		include ./parts/footer



































