.footer{
	padding-top: 40px;
	padding-bottom: 80px;
	&-title{
		margin-bottom: 20px;
		span{
			font-family: "ProximaNova-Black";
			font-style: normal;
			font-weight: 900;
			line-height: 27px;
			font-size: 14px;
			letter-spacing: 0.5px;
			text-transform: uppercase;

			color: #E0322E;
		}
	}
	&__pattern{
		height: 30px;
		background-image: repeating-linear-gradient(-45deg, #E0322E, #E0322E 30px, #282B6D 30px, #282B6D 60px);
		border-bottom: 2px solid #000;
	}
	&__soc{
		a{
			margin-right: 25px;
		}
	}
	&__menu{
		ul{
			list-style: none;
			margin: 0;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
			li{
				width: 33%;
				a{
					font-family: "ProximaNova-Extrabld";
					font-style: normal;
					font-weight: bold;
					line-height: 20px;
					font-size: 14px;

					color: $black;
				}
			}
		}
	}
	&__contacts{
		.contact-item{
			padding: 0;
			padding-right: 15px;
			&__name{
				span{
					font-family: "ProximaNova-Extrabld";
					font-style: normal;
					font-weight: bold;
					line-height: 20px;
					font-size: 14px;

					color: $black;
				}
			}
			&__phone{
				a{
					font-family: "ProximaNova-Regular";
					font-style: normal;
					font-weight: normal;
					line-height: 20px;
					font-size: 14px;

					color: $black;
				}
			}
		}
	}
	&__copy{
		p{
			margin-top: 25px;
			font-family: "ProximaNova-Regular";
			font-style: normal;
			font-weight: normal;
			line-height: 20px;
			font-size: 12px;

			color: $black;
		}
	}
}