header{
	padding: 0 30px;
	.row{
		position: relative;
	}
	
	.header{
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		padding: 20px 0px;
		&__soc{
			a{
				margin-right: 16px;
			}
		}
		&__menu{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-between;
			align-items: center;
			ul{
				margin: 0;
				width: 40%;
				list-style: none;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				justify-content: space-around;
				li{
					cursor: pointer;
					color: $wt;
					font-family: "ProximaNova-Extrabld";
					line-height: normal;
					font-size: 15px;
					letter-spacing: 0.5px;
					text-transform: uppercase;
					a{
						color: $wt;
						font-family: "ProximaNova-Extrabld";
						line-height: normal;
						font-size: 15px;
						letter-spacing: 0.5px;
						text-transform: uppercase;
					}
					&:hover{
						.sub_menu{
							display: -webkit-flex;
							display: -moz-flex;
							display: -ms-flex;
							display: -o-flex;
							display: flex;
							li{
								a{
									padding: 5px 0;
									display: inline-block;
								}
							}
						}
					}
				}
			}
			.sub_menu{
				display: none;
				flex-direction: column;
				width: 100%;
				position: absolute;
				bottom: -20px;
				padding-top: 10px;

			}
		}
		&__lang{
			a{
				color: $wt;
				font-family: "ProximaNova-Extrabld";
				line-height: normal;
				font-size: 15px;
				letter-spacing: 0.5px;
				text-transform: uppercase;
			}
		}
	}
}