.affiliates{
	margin-bottom: 100px;
	&__title{
		margin-bottom: 20px;
		padding: 0 15px;
		span{
			font-family: Proxima Nova;
			font-style: normal;
			font-weight: bold;
			line-height: normal;
			font-size: 65px;
			letter-spacing: -0.5px;

			color: $black;
		}
	}
	&__btn{
		text-align: center;
	}
	&-items{
		margin-bottom: 100px;
	}
}

.affiliates-item{
	position: relative;
	&__img{
		border: 2px solid #000000;
		img{
			height: 322px;
			width: 100%;
			object-fit: cover;
		}
	}
	&__text{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(3, 2, 2, 0.4);
		text-align: left;
		padding: 18px 20px;
		span{
			font-family: Proxima Nova;
			font-style: normal;
			font-weight: bold;
			line-height: normal;
			font-size: 35px;
			letter-spacing: -0.5px;

			color: $wt;
		}
	}
}



@media screen and (min-width: 40em) and (max-width: 63.9375em){
	.affiliates-item{
		&__img{
			img{
				height: 240px;
			}
		}
	}
}
@media screen and (max-width: 39.9375em){
	.affiliates-item{
		margin-bottom: 20px;
		&__img{
			img{
				height: 150px;
			}
		}
	}
}

















