.block-social__items{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	.social-block{
		padding: 0;
		background: #fff;
		transition: .1s;
		padding: 50px 55px;
		&__logo{
			margin-bottom: 15px;
			min-height: 45px;
		}
		&__link{
			margin-bottom: 15px;
			a,p{
				font-family: "ProximaNova-Extrabld";
				font-style: normal;
				font-weight: bold;
				line-height: 38px;
				font-size: 26.9031px;
				transition: .2s;
				color: $black;
			}
			p{
				margin-bottom: 0;
			}
			&_inst{
				a{
					&:hover{
						color: #a625a7;
					}
				}
			}
			&_YouTube{
				a{
					&:hover{
						color: #e0322e;
					}
				}
			}
			&_fb{
				a{
					&:hover{
						color: #162aa1;
					}
				}
			}
		}
		&_foto{
			padding: 0;
			img{
				width: 100%;
				object-fit: cover;
				height: 100%;
			}
		}
		&:hover{
			transform: scale(1.05);
			box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
		}
	}

}
.block-social{
	padding: 0 20px;
	margin-bottom: 150px;
	&__title{
		margin-bottom: 60px;
		span {
			font-family: "ProximaNova-Extrabld";
			font-style: normal;
			font-weight: bold;
			line-height: normal;
			font-size: 65px;
			letter-spacing: -0.5px;

			color: #030202;
		}
		
	}
}

@media screen and (max-width: 39.9375em){
	.social-block{
		padding: 10px !important;
		&__logo{
			margin-bottom: 10px!important;
			height: 35px!important;
		}
		&__link{
			a,p{
				line-height: 27px!important;
				font-size: 20px!important;
			
			}
		}
		&_foto{
			padding: 0 !important;
		}
	}
}

















