.reviews-item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	padding: 67px 40px; 
	padding-left: 85px;
	/* padding-right: 45px; */
	background: #FFFFFF;
	box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.25);
	position: relative;
	margin: 30px 40px;
	margin-right: 50px;
	/* margin-right: 80px; */
	&__foto{
		position: absolute;
		left: -40px;
		img{
			height: 105px;
			width: 105px;
			min-height: 105px;
			min-width: 105px;
			object-fit: cover;
		}
	}
	&__name{
		font-family: "ProximaNova-Extrabld";
		font-style: normal;
		font-weight: 800;
		line-height: 25px;
		font-size: 17px;
		margin-bottom: 10px;
		color: $black;
	}
	&__text{
		p{
			font-family: Open Sans;
			font-style: normal;
			font-weight: normal;
			line-height: 21px;
			font-size: 13px;

			color: #030202;
		}
	}
}
.reviews-wrap{
	padding: 0 20px;
}
.reviews{
	border: 4px solid $black;
	margin-bottom: 160px;
	padding: 50px 0px;
	/* padding: 0 50px; */
	/* padding: 15px; */
	background: #F0F0F0;
	position: relative;
	&:after{
		position: absolute;
		display: block;
		content: '';

			top: 20px;
			left: 20px;
			right: -20px;
			bottom: -20px;
			background-image: repeating-linear-gradient(45deg, #FFC010, #FFC010 30px, #5B2988 30px, #5B2988 60px);
			z-index: -1;
	}
	&__title{
		padding-left: 100px;
		span{
			font-family: "ProximaNova-Extrabld";
			font-style: normal;
			font-weight: 800;
			line-height: normal;
			font-size: 65px;
			letter-spacing: -0.5px;

			color: #32307A;
		}
	}
	&__slider{
		position: relative;
		padding: 0px 50px;

	}
	&__btn{
		text-align: center;
		margin-top: 80px;
	}
}

.revSl-Next{
		transition: .2s;
		background: $wt;
		width: 50px;
		height: 40px;
		text-align: center;
		padding-top:7px;
		border: 2px solid $black;
		margin-left: -2px;
		position: relative;
		z-index: 1;
		cursor: pointer;
		&:after{
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0;
			right: -5px;
			bottom:  -3px;
			transition: .2s;
			/* border-bottom-style:  solid ; */
			border-right-style:    solid ;
			border-color: #000;
			border-width: 5px;
			z-index: -1;
		}
		&:hover{
			transform: translate(4px, 5px);
			&:after{
				opacity: 0;
			}
		}

	}
	.revSl-Prev{
		transition: .2s;
		background: $wt;
		width: 50px;
		height: 40px;
		text-align: center;
		padding-top:7px;
		border: 2px solid $black;
		position: relative;
		z-index: 1;
		cursor: pointer;
		&:after{
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 1;
			right: -5px;
			bottom:  -3px;
			transition: .2s;
			/* border-bottom-style:  solid ; */
			border-right-style:    solid ;
			border-color: #000;
			border-width: 5px;
			z-index: -1;
		}
		&:hover{
			transform: translate(4px, 5px);
			&:after{
				opacity: 0;
			}
		}

	}
	.reviewsSlider__arrow{
		position: absolute;
		height: 40px;
		top: -50px;
		right: 80px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		&:after{
			content: '';
			display: block;
			position: absolute;
			 width: calc(100% - 2px);
			height: 100%;
			left: 5px;
			bottom: -5px;
			transition: .2s;
			border-bottom-style:  solid ;
			border-right-style:    solid ;
			border-color: #000;
			border-width: 5px;
			/* z-index: -1; */
		}
	}