.block-news-wrap{
	padding: 100px 0;
	background: #fff;
	margin-bottom: 190px;
}
.block-news{
	&__title{
		padding: 0 15px;
		margin-bottom: 60px;
		span{
			font-family: "ProximaNova-Extrabld";
			font-style: normal;
			font-weight: 800;
			line-height: normal;
			font-size: 65px;
			letter-spacing: -0.5px;
			color: $black;
		}
	}
	&__items{
		margin-bottom: 100px;
		article{
			&:nth-child(odd){
				.block-news-item__img{
					&:after{
						border-color: #E6246F;
					}
				}
			}
		}
	}
	&__btn{
		text-align: center;
	}
	.block-news-item{
		&__img{
			margin-bottom: 30px;
			position: relative;
			box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
			&:after{
				content: '';
				display: block;
				position: absolute;
				 width:100%;
				height: 100%;
				left: 5px;
				bottom: -5px;
				transition: .2s;
				border-bottom-style:  solid ;
				border-right-style:    solid ;
				border-color: #5EC0C7;
				border-width: 5px;
				
			}
			img{
				width: 100%;
				height: 390px;
				object-fit: cover;
			}

		}
		&__title{
			span{
				color: $black;
				font-family: Open Sans;
				font-style: normal;
				font-weight: 800;
				line-height: 24px;
				font-size: 20px;
				letter-spacing: -0.02em;
			}
		}
	}
}

@media screen and (min-width: 40em) and (max-width: 63.9375em){
	.block-news-item{
		&__img{
			img{
				height: 250px !important;
			}
		}
	}
}

@media screen and (max-width: 39.9375em){
	.block-news-item{
		&__img{
			img{
				height: 180px !important;
			}
		}
	}
}















