.block-team__slider{
	position: relative;
	.teamSl-Next{
		transition: .2s;
		background: $wt;
		width: 50px;
		height: 40px;
		text-align: center;
		padding-top:7px;
		border: 2px solid $black;
		margin-left: -2px;
		position: relative;
		z-index: 1;
		cursor: pointer;
		&:after{
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0;
			right: -5px;
			bottom:  -3px;
			transition: .2s;
			/* border-bottom-style:  solid ; */
			border-right-style:    solid ;
			border-color: #000;
			border-width: 5px;
			z-index: -1;
		}
		&:hover{
			transform: translate(4px, 5px);
			&:after{
				opacity: 0;
			}
		}

	}
	.teamSl-Prev{
		transition: .2s;
		background: $wt;
		width: 50px;
		height: 40px;
		text-align: center;
		padding-top:7px;
		border: 2px solid $black;
		position: relative;
		z-index: 1;
		cursor: pointer;
		&:after{
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 1;
			right: -5px;
			bottom:  -3px;
			transition: .2s;
			/* border-bottom-style:  solid ; */
			border-right-style:    solid ;
			border-color: #000;
			border-width: 5px;
			z-index: -1;
		}
		&:hover{
			transform: translate(4px, 5px);
			&:after{
				opacity: 0;
			}
		}

	}
	.teamSlider__arrow{
		position: absolute;
		height: 40px;
		top: -50px;
		right: 10px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		&:after{
			content: '';
			display: block;
			position: absolute;
			 width: calc(100% - 2px);
			height: 100%;
			left: 5px;
			bottom: -5px;
			transition: .2s;
			border-bottom-style:  solid ;
			border-right-style:    solid ;
			border-color: #000;
			border-width: 5px;
			/* z-index: -1; */
		}
	}
}
.block-team-wrap{
	background-image: url(../images/team_bg.png);
	background-color: #282B6D;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding-top: 67px;
	padding-bottom: 133px;

}
.block-team{
	&__title{
		margin-bottom: 60px;
		span{

			font-family: "ProximaNova-Extrabld";
			font-style: normal;
			font-weight: 800;
			line-height: normal;
			font-size: 65px;
			text-align: center;
			letter-spacing: -0.5px;

			color:$wt;
		}
	}
	&__btn{
		text-align: center;
		margin-top: 70px;
	}
}
.teamSlider{
	.slick-slide{
		&:nth-child(3n+1){
			a{
				color: #34A189 ;
			}
		}
		&:nth-child(3n){
			a{
				color:#E15555!important;
			}
		}
		&:nth-child(3n-1){
			a{
				color:#DF4465 !important;
			}
		}
	}
}
.team-slide{
	padding-top: 70px;
	padding-left: 35px;
	padding-right: 30px;
	padding-bottom: 15px;
	position: relative;
	&__name{
		position: absolute;
		top: 0;
		left:2px;
		max-width: 250px;
		a{
			font-family: "ProximaNova-Black";
			font-style: normal;
			font-weight: 900;
			line-height: 45px;
			font-size: 45px;

			color: #34A189;
		}
	}
	&__foto{
		img{
			height: 342px;
			width: 100%;
			object-fit: cover;
		}
	}
	&__skill{
		position: absolute;
		right: 15px;
		bottom: -5px;
		ul{
			margin: 0;
			list-style: none;
			text-align: right;
			li{

				a{
					font-family: "ProximaNova-Black";
					font-style: normal;
					font-weight: 900;
					line-height: 30px;
					padding: 5px;
					display: inline-block;
					font-size: 25px;
					text-align: right;
					text-transform: uppercase;
					transition: .2s;
					color: #34A189;
					&:hover{
						background:#ffc010;
						
					}
				}
			}
		}
	}
	&:hover{
		ul{
			a{
				background: rgba(3, 2, 2, 0.7);
			}
		}
	}
}
.block-team_pattern{
	background-image: repeating-linear-gradient(-45deg, #34A189, #34A189 30px, #32307A 30px, #32307A 60px);
	height: 60px;
}


@media screen and (min-width: 40em) and (max-width: 63.9375em){
	.team-slide{
		&__foto{
			img{
				height: 280px !important;
			}
		}
	}
}


@media screen and (max-width: 39.9375em){
	.team-slide{
		&__foto{
			img{
				height: 240px !important;
			}
		}
		&__name{
			a{
				font-size: 35px;
				line-height: 35px;
			}
		}
		&__skill{
			ul{
				li{
					a{
						font-size: 19px;
						line-height: 18px;
					}
				}
			}
		}
	}
}




















