.block-about{
	margin-bottom: 140px;
	&-wrap{
		position: relative;
		overflow: hidden;
		&:after{
			content: '';
			display: block;
			position: absolute;
			background: #282B6D;
			top: 0;
			bottom: 0;
			width: 50%;
			z-index: -2;
		}
	}
	&__title{
		text-align: center;
		span{
			font-family: Proxima Nova;
			font-style: normal;
			font-weight: 800;
			line-height: normal;
			font-size: 200px;
			text-align: center;
			text-shadow: 15px 7px 0px #FFC010;
			color: #5B2988;

		}
		
	}
	&__img{
		position: relative;
		margin-top: -85px;
		z-index: -1;
		margin-bottom: 55px;
		&_bg{
			position: absolute;
			top: 20px;
			left: 20px;
			right: -20px;
			bottom: -20px;
			background-image: repeating-linear-gradient(45deg, #FFC010, #FFC010 30px, #5B2988 30px, #5B2988 60px);
			z-index: -1;
		}
		img{
			width: 100%;
			height: 506px;
			object-fit: cover;
		}
	}
	&__content{
		padding-left: 75px;
		.about__content{
			&-title{
				margin-bottom: 20px;
				p{
					font-family: "ProximaNova-Extrabld";
					font-style: normal;
					font-weight: 800;
					line-height: 23px;
					font-size: 19px;

					color: #030202;
				}
			}
			&-text{
				margin-bottom: 65px;
				ul{
					list-style: none;
					margin: 0;
					li{
						font-family: Open Sans;
						font-style: normal;
						font-weight: normal;
						line-height: 20px;
						font-size: 15px;
						margin-bottom: 5px;
						color: #030202;
					}
				}
			}
			&-btn{
				.btn{
					background: #FFC010;
					padding: 10px 65px;
				}
			}
		}
	}
	&__links{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		a{
			font-family: "ProximaNova-Extrabld";
			font-style: normal;
			font-weight: 800;
			line-height: normal;
			font-size: 25px;
			text-align: center;
			margin-right: 50px;
			color: #FFC010;
			transition: .2s;
			&:hover{
				text-shadow: 2px 3px 0px #EA5030;
			}
		}
	}

}

.block-about_pattern{
	background-image: repeating-linear-gradient(-45deg, #FFC010, #FFC010 30px, #5B2988 30px, #5B2988 60px);
	height: 60px;
}




















































