.home-video{
	position: relative;
	margin-bottom: 130px;
	img{
		width: 100%;
		height: 100vh;
		object-fit: cover;
	}
	&__title{
		position: absolute;
		left: 0;
		right: 0;
		top: 40%;
	}
	&__btn{
		position: absolute;
		z-index: 1;
		left: 0;
		right: 0;
		bottom: 10%;
		text-align: center;
	}
	&_pattern{
		height: 60px;
		background-image: repeating-linear-gradient(-45deg, #E0322E, #E0322E 30px, #282B6D 30px, #282B6D 60px);
	}
}