.home-form{
	
	&-wrap{
		padding: 0 15px;
		padding-top: 90px;
		padding-bottom: 110px;
		background-image: url(../images/team_bg.png);
		background-color: rgba(0, 0, 0, 0.5);
		background-blend-mode: multiply;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}
	&__title{
		margin-bottom: 100px;
		span{
			font-family: "ProximaNova-Extrabld";
			font-style: normal;
			font-weight: bold;
			line-height: normal;
			font-size: 65px;

			color: #FFFFFF;
		}
		.sub-title{
			margin-top: 14px;
			span{
				font-family: "ProximaNova-Bold";
				font-style: normal;
				font-weight: bold;
				line-height: 40px;
				font-size: 20px;

				color: #FFFFFF;
			}
		}
	}
	&__form{
		max-width: 285px;
		p{

			font-family: "ProximaNova-Extrabld";
			font-style: normal;
			font-weight: 600;
			line-height: 20px;
			font-size: 20px;
			margin-bottom: 10px;
			color: $wt;
		}
		input{
			box-shadow: none;
			outline: none;
			border: 2px solid $black;
			margin-bottom: 20px;
			&:focus{
				box-shadow: none;
				outline: none;
				border: 2px solid #505050;
			}
		}
		button{
			margin-top: 40px;
			width: 100%;
			background: #DF4465;
			i{
				margin-left: 60px;
			}
		}
	}

}