.schedule-intro-wrap{
	height: 100vh;
	background-image: url('../images/styles_bg.png'); 
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(3, 2, 2, 0.4);
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-position: center;
	margin-bottom: 85px;
}
.schedule-wrap{
	position: relative;
	padding-top: 67px;
	&:before{
		position: absolute;
		content: '';
		display: block;
		left: 0;
		top: 0;
		bottom: 0;
		width: 50%;
		z-index: -1;
		background-image: url(../images/team_bg.png);
	
		background-color: #282B6D;
		background-blend-mode: multiply;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
		background-position: center;
	}
}
.affiliatesPage__title{
	margin-bottom: 25px;
	padding: 0 15px;
	span{
		font-family: "ProximaNova-Extrabld";
		font-style: normal;
		font-weight: bold;
		line-height: 35px;
		font-size: 35px;

		color: #030202;
	}
}
.schedule{
	&__title{
		margin-bottom: 70px;
		span{
			font-family: "ProximaNova-Extrabld";
			font-style: normal;
			font-weight: bold;
			line-height: normal;
			font-size: 45px;

			color: #FFFFFF;
		}
	}
}

.schedule-item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	/* justify-content: space-between; */
	align-items: flex-start;
	margin-bottom: 70px;
	display: none;
	&.active{
		display: flex;
	}
	&__date{
		width: 25%;
		.date-item{
			span{
				font-style: normal;
				font-weight: bold;
				line-height: 20px;
				font-size: 20px;

				color: #FFFFFF;
			}
			p{

				font-family: "ProximaNova-Extrabld";
				font-style: normal;
				font-weight: bold;
				line-height: 45px;
				font-size: 45px;

				color: #FFFFFF;
			}
		}
	}
	&__img{
		position: relative;
		width: 205px;
		margin-right: 10%;
		img{
			filter: grayscale(100%);
			min-width: 205px;
			min-height: 205px;
			object-fit: cover;
		}
		&:after{
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			right: -20px;
			bottom: -20px;
			background-image: repeating-linear-gradient(-45deg, #E0322E, #E0322E 30px, #282B6D 30px, #282B6D 60px);
			z-index: -1;
		}
	}
	&__info{
		.name{
			margin-bottom: 12px;
			span{
				font-family: "ProximaNova-Bold";
				line-height: 20px;
				font-size: 20px;

				color: #282B6D;
			}
		}
		.styleDance{
			margin-bottom: 20px;
			span{
				font-family: "ProximaNova-Black";
				font-style: normal;
				font-weight: 900;
				line-height: 45px;
				font-size: 45px;
				text-transform: uppercase;

				color: #282B6D;

			}
		}
		.level{
			margin-bottom: 20px;
			ul{
				list-style: none;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				margin: 0;
				li{
					font-family: "ProximaNova-Bold";
					font-style: normal;
					font-weight: bold;
					line-height: 20px;
					font-size: 20px;
					margin-right: 25px;
					color: #030202;
				}
			}
		}
		.btn{
			background: #37A38B;
			color: $wt;
			padding: 9px 20px;
			margin-bottom: 25px;
		}
		.group{
			span{
				font-family: "ProximaNova-Extrabld";
				line-height: normal;
				font-size: 15px;
				letter-spacing: 0.5px;
				text-transform: uppercase;

				color: #030202;
			}
		}
	}
}





.schedule__filter{
	margin-bottom: 85px;
	p{
		font-family: "ProximaNova-Bold";
		font-style: normal;
		font-weight: bold;
		line-height: normal;
		font-size: 20px;
		margin-bottom: 10px;
		color: #030202;
	}
	.tabs-trigger{
		margin: 0;
		position: relative;
		list-style: none;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;		
		/* justify-content: space-between; */
		// width: 80%;
		z-index: 2;
		border-color: #000;
		li{
			
			text-align: center; 

			padding-left: 20px;
			width: 33.3333%;
			padding: 20px 5px;
			padding-left: 20px;
			border-color: #000;
			border-style: solid;
			border-width: 2px 2px ;
			font-family: "ProximaNova-Extrabld";
			font-style: normal;
			font-weight: bold;
			font-size: 15px;
			letter-spacing: 0.5px;
			text-transform: uppercase;
			cursor: pointer;
			color: $black;
			transition: .2s;
			position: relative;
			background: $wt;
			z-index: 1;
			margin-left: -2px;
			line-height: 18px;
			
			&:hover{
				background: #34A189;
				color: $wt;
				transform: translate(4px, 5px);
				&:after{
					opacity: 0;
				}
			}
			&:after{
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				opacity: 1;
				right: -5px;
				bottom:  -3px;
				transition: .2s;
				/* border-bottom-style:  solid ; */
				border-right-style:    solid ;
				border-color: #000;
				border-width: 5px;
				z-index: -1;
			}
			&.tab-active{
				background: #34A189;
				color: $wt;
			}
		}
		&:after{
			content: '';
			display: block;
			position: absolute;
			 width: calc(100% - 9px);
			height: 100%;
			left: 5px;
			bottom: -5px;
			transition: .2s;
			border-bottom-style:  solid ;
			border-right-style:    solid ;
			border-color: #000;
			border-width: 5px;
			z-index: -1;
		}
	}

}

.affiliates_schedule{
	display: none;
	&.active{
		display: block;
	}
}
.schedule__btn{
	margin-top: 70px;
	text-align: center;
	margin-bottom: 100px;
}


.affiliates-items {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	.affiliates_item{
		transition: .3s;	
		width: 25%;
		&.tab-active{
			width: 50%;
			/* order: -1; */
		}
	}

}















