.dancer{
	margin-top: -200px;
	/* position: relative; */
	top: -200px;
	&__btn{
		text-align: center;
		margin-top: 70px;
		margin-bottom: 100px;
	}
	&__foto{
		position: relative;
		height: 640px;
		width: 100%;
		&:after{
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			right: -20px;
			bottom: -20px;
			background-image: repeating-linear-gradient(-45deg, #E0322E, #E0322E 30px, #282B6D 30px, #282B6D 60px);
			/* z-index: -1; */
		}
		img{
			height: 640px;
			width: 100%;
			object-fit: cover;
			z-index: 222;
			position: absolute;
		}
		&_btn{
			text-align: center;
			margin-top: 60px;
			.btn{
				background: #e0322e;
			}
		}
	}
	&__info{
		margin-bottom: 70px;
	}
	&__name{
		margin-bottom: 50px;
		span{

			font-family: "ProximaNova-Black";
			font-style: normal;
			font-weight: 900;
			line-height: 65px;
			font-size: 65px;

			color: #FFFFFF;
		}
	}
	&__skill{
		margin-bottom: 50px;
		ul{
			margin: 0;
			list-style: none;

			li{
				width: 50%;
				float: left;
				a{
					font-family: "ProximaNova-Black";
					font-style: normal;
					font-weight: 900;
					line-height: normal;
					font-size: 25px;
					text-transform: uppercase;
					background: rgba(3, 2, 2, 0.7);
					color: #FFFFFF;
					padding: 5px;
					display: inline-block;
				}
			}
		}
	}
	&__resume{
		margin-bottom: 50px;
		.resume__title{
			margin-bottom: 10px;
			span{

				font-family: Open Sans;
				font-style: normal;
				font-weight: 800;
				line-height: 24px;
				font-size: 20px;
				letter-spacing: -0.02em;

				color: #030202;
			}
		}
		.sub-title{
			margin-bottom: 10px;
			span {
				font-family: "ProximaNova-Extrabld";
				font-style: normal;
				font-weight: 600;
				line-height: 24px;
				font-size: 16px;

				color: #030202;
			}
		}
		ul{
			margin: 0;
			list-style: none;
			margin-bottom: 25px;
			li{
				font-family: "ProximaNova-Light";
				font-style: normal;
				font-weight: 300;
				line-height: 24px;
				font-size: 16px;
				margin-bottom: 5px;
				color: #030202;
			}
		}
	}
	&__video{

		&__title{
			margin-bottom: 25px;
			span{
				font-family: Open Sans;
				font-style: normal;
				font-weight: 800;
				line-height: 24px;
				font-size: 20px;
				letter-spacing: -0.02em;

				color: #030202;
			}
		}

		.dancer__video-item{
			padding-left: 0;
			margin-bottom: 15px;
			iframe{
				width: 100%;
			
			}
			&:last-child{
				float: left !important;
			}
		}
	}
}

.dancer__filter_title{
	text-align: center;
	margin-bottom: 40px;
	span{
		font-family: "ProximaNova-Extrabld";
		font-style: normal;
		font-weight: bold;
		line-height: normal;
		font-size: 45px;
		text-align: center;

		color: #030202;
	}
}

.dancer__filter{
	margin-bottom: 85px;
	/* display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex; */
	.tabs-trigger{
		margin: 0;
		position: relative;
		list-style: none;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;		
		/* justify-content: space-between; */
		/* width: 70%; */

		z-index: 2;
		border-color: #000;
		li{
			text-align: center;
			width: 25%;
			padding: 25px 5px;
			/* border-width: 2px 0px 2px 2px ; */
			border-color: #000;
			border-style: solid;
			border-width: 2px 2px ;
			font-family: "ProximaNova-Extrabld";
			font-style: normal;
			font-weight: bold;
			font-size: 15px;
			letter-spacing: 0.5px;
			text-transform: uppercase;
			cursor: pointer;
			color: $black;
			transition: .2s;
			position: relative;
			background: $wt;
			z-index: 1;
			margin-left: -2px;
			&:hover{
				background: #34A189;
				color: $wt;
				transform: translate(4px, 5px);
				&:after{
					opacity: 0;
				}
			}
			&:after{
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				opacity: 1;
				right: -5px;
				bottom:  -3px;
				transition: .2s;
				/* border-bottom-style:  solid ; */
				border-right-style:    solid ;
				border-color: #000;
				border-width: 5px;
				z-index: -1;
			}
			&.active{
				background: #34A189;
				color: $wt;
			}
		}
		&:after{
			content: '';
			display: block;
			position: absolute;
			 width: calc(100% - 9px);
			height: 100%;
			left: 5px;
			bottom: -5px;
			transition: .2s;
			border-bottom-style:  solid ;
			border-right-style:    solid ;
			border-color: #000;
			border-width: 5px;
			z-index: -1;
		}
		&_right{
			/* width: 30%; */
			/* margin-left: 5%; */
			li{
				width: 50%;
			}
		}
	}
	&__items{
		display: none;
		&.active{
			display: flex;
			flex-wrap: wrap;
		}
	}
	&__btn{
		margin-top: 50px;
		text-align: center;
	}
	
}


