.club_groups{
	margin-top: 60px;
	padding-bottom: 50px;
	margin-bottom: 50px;
	&__title{
		text-align: center;
		margin-bottom: 70px;
		span{

			font-family: "ProximaNova-Extrabld";
			font-style: normal;
			font-weight: bold;
			line-height: normal;
			font-size: 45px;
			text-align: center;

			color: #030202
		}
	}
}
.club_schedule{
	margin-top: 100px;
	&__title{
		text-align: center;
		margin-bottom: 40px;
		span{

			font-family: "ProximaNova-Extrabld";
			font-style: normal;
			font-weight: bold;
			line-height: normal;
			font-size: 45px;

			color: #030202;
		}
	}
}

.rent{
	margin-bottom: 100px;
	&__img{
		/* width: 100%; */
		position: relative;
		&:after{
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			right: -10px;
			bottom: -10px;
			background-image: repeating-linear-gradient(-45deg, #E0322E, #E0322E 30px, #282B6D 30px, #282B6D 60px);
			z-index: -1;
		}
		img{
			width: 100%;
			height: 450px;
			object-fit: cover;
		}
	}
	&__info{
		.rent__title{
			margin-bottom: 30px;
			span{
				font-family: "ProximaNova-Extrabld";
				font-style: normal;
				font-weight: bold;
				line-height: normal;
				font-size: 35px;

				color: #030202;

			}
		}
		.rent__text{
			margin-bottom: 30px;
			p{
				font-family: "ProximaNova-Light";
				font-style: normal;
				font-weight: 300;
				line-height: 20px;
				font-size: 16px;
				margin-bottom: 10px;
				color: #030202;
			}
			a{
				font-family: "ProximaNova-Bold";
				font-style: normal;
				font-weight: bold;
				line-height: 20px;
				font-size: 16px;

				color: #030202;
			}
		}
		.rent__btn{
			.btn{
				background: #37A38B;
				color: $wt;
				padding: 13px 40px;
			}
		}
	}
}






#map{
	height: 550px;
	&>div{
		z-index: -1;
	}
}
.club__map{
	position: relative;
	.map__info{
		position: absolute;
		padding: 50px 60px;
		top: 50px;
		max-width: 510px;
		background: #000;
		&:before{
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			right: -10px;
			bottom: -10px;
			background-image: repeating-linear-gradient(-45deg, #E0322E, #E0322E 30px, #282B6D 30px, #282B6D 60px);
			z-index: -1;
		}
		.map__title{
			margin-bottom: 30px;
			span{
				font-family: "ProximaNova-Extrabld";
				font-style: normal;
				font-weight: bold;
				line-height: 35px;
				font-size: 35px;

				color: #FFFFFF;
			}
		}
		.map__sub-title{
			margin-bottom: 40px;
			span{
				font-family: "ProximaNova-Bold";
				font-style: normal;
				font-weight: bold;
				line-height: 25px;
				font-size: 20px;

				color: #FFFFFF;
			}
		}
		.map__btn{
			.btn{
				background: #E0322E;
			    padding: 17px 16px;
			}
		}
	}
}

























