.styles-intro-wrap{
	height: 100vh;
	// background-image: repeating-linear-gradient(-45deg, #E0322E, #E0322E 30px, #282B6D 30px, #282B6D 60px);
	background-image: url('../images/styles_bg.png'); 
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(3, 2, 2, 0.4);
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-position: center;
	 // 
}

.styles-intro-pattern{
	margin-bottom: 80px;
	height: 30px;
	background-image: repeating-linear-gradient(-45deg, #34A189, #34A189 30px, #DF4465 30px, #DF4465 60px);
}


.stiles__filter{
	margin-bottom: 85px;
	
	.tabs-trigger{
		margin: 0;
		position: relative;
		list-style: none;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;		
		/* justify-content: space-between; */
		width: 80%;
		z-index: 2;
		border-color: #000;
		li{
			
			text-align: center; 

			padding-left: 20px;
			width: 25%;
			padding: 20px 5px;
			padding-left: 20px;
			border-color: #000;
			border-style: solid;
			border-width: 2px 2px ;
			font-family: "ProximaNova-Extrabld";
			font-style: normal;
			font-weight: bold;
			font-size: 15px;
			letter-spacing: 0.5px;
			text-transform: uppercase;
			cursor: pointer;
			color: $black;
			transition: .2s;
			position: relative;
			background: $wt;
			z-index: 1;
			margin-left: -2px;
			line-height: 18px;
			
			&:hover{
				background: #34A189;
				color: $wt;
				transform: translate(4px, 5px);
				&:after{
					opacity: 0;
				}
			}
			&:after{
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				opacity: 1;
				right: -5px;
				bottom:  -3px;
				transition: .2s;
				/* border-bottom-style:  solid ; */
				border-right-style:    solid ;
				border-color: #000;
				border-width: 5px;
				z-index: -1;
			}
			&.tab-active{
				background: #34A189;
				color: $wt;
			}
		}
		&:after{
			content: '';
			display: block;
			position: absolute;
			 width: calc(100% - 9px);
			height: 100%;
			left: 5px;
			bottom: -5px;
			transition: .2s;
			border-bottom-style:  solid ;
			border-right-style:    solid ;
			border-color: #000;
			border-width: 5px;
			z-index: -1;
		}
	}
}

.stiles__items{
	margin-bottom: 130px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;

	.styles__item{
		display: none;
		&.active{
			display: block;
		}
		.styles-item{
			&:hover{
				
				.btn_small{
					background: #DF4465;
					color: $wt;
				}
				
			}
			&__img_bg{
				
				background-image: repeating-linear-gradient(-45deg, #34A189, #34A189 30px, #DF4465 30px, #DF4465 60px);
			}
		}
	}
}

.stiles__btn{
	text-align: center;
	margin-bottom: 80px;
}























