.styles{
	margin-bottom: 150px;
	padding: 0 15px;
	&__title{
		margin-bottom: 20px;
	
		a{
			font-family: Proxima Nova;
			font-style: normal;
			font-weight: bold;
			line-height: normal;
			font-size: 65px;
			letter-spacing: -0.5px;

			color: $black;
		}
	}
	&__filter{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		margin-bottom: 85px;
		.all-styles{
			width: 19%;
			
		}
	}
	.tabs-trigger{
		margin: 0;
		position: relative;
		list-style: none;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;		
		/* justify-content: space-between; */
		width: 80%;
		z-index: 2;
		border-color: #000;
		li{
			text-align: center;
			width: 25%;
			padding: 25px 5px;
			/* border-width: 2px 0px 2px 2px ; */
			border-color: #000;
			border-style: solid;
			border-width: 2px 2px ;
			font-family: "ProximaNova-Extrabld";
			font-style: normal;
			font-weight: bold;
			font-size: 15px;
			letter-spacing: 0.5px;
			text-transform: uppercase;
			cursor: pointer;
			color: $black;
			transition: .2s;
			position: relative;
			background: $wt;
			z-index: 1;
			margin-left: -2px;
			&:hover{
				background: #34A189;
				color: $wt;
				transform: translate(4px, 5px);
				&:after{
					opacity: 0;
				}
			}
			&:after{
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				opacity: 1;
				right: -5px;
				bottom:  -3px;
				transition: .2s;
				/* border-bottom-style:  solid ; */
				border-right-style:    solid ;
				border-color: #000;
				border-width: 5px;
				z-index: -1;
			}
			&.tab-active{
				background: #34A189;
				color: $wt;
			}
		}
		&:after{
			content: '';
			display: block;
			position: absolute;
			 width: calc(100% - 9px);
			height: 100%;
			left: 5px;
			bottom: -5px;
			transition: .2s;
			border-bottom-style:  solid ;
			border-right-style:    solid ;
			border-color: #000;
			border-width: 5px;
			z-index: -1;
		}
	}
	&__items{
		display: none;
		&.active{
			display: flex;
			flex-wrap: wrap;
		}
	}
	&__btn{
		margin-top: 50px;
		text-align: center;
	}
	
}


.styles-item{
	position: relative;
	padding-left: 25px;
	padding-top: 25px;
	margin-bottom: 50px;
	display: block;
	&__title{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		span{
			font-family: Proxima Nova;
			font-style: normal;
			font-weight: 900;
			line-height: 40px;
			font-size: 35px;

			color: $black;
		}
	}
	&__img{
		position: relative;
		display: block;
		img{
			filter: grayscale(100%);
			transition: .2s;
			width: 100%;
			height: 233px;
			object-fit: cover;
		}
	}
	&__btn{
		position: absolute;
		bottom: -20px;
		right: -25px;
	}
	&:hover{
		img{
			filter: grayscale(0%);
		}
		.btn_small{
			background: #E8DC39;
		}
		.styles-item__img_bg{
			transform: translate(10px, 10px);
		}
	}
	&__img_bg{
		transition: .2s;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: repeating-linear-gradient(-45deg, #E0322E, #E0322E 30px, #282B6D 30px, #282B6D 60px);
	}
}






























