.team-intro-wrap{
	height: calc(100vh - 30px);
	background-image: repeating-linear-gradient(-45deg, #E0322E, #E0322E 30px, #282B6D 30px, #282B6D 60px);
	background-image: url('../images/team_bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(3, 2, 2, 0.4);
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-position: center;
	
}

.team-intro{
	position: relative;
	&_bg{
		margin-bottom: 75px;
		padding: 0 0px 30px 0px;
		background-image: repeating-linear-gradient(-45deg, #FFC010, #FFC010 30px, #5B2988 30px, #5B2988 60px);
	}
	
}

.page-intro{
	&__title{
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;
		top: 40%;
		span{

			font-family: "ProximaNova-Extrabld";
			font-style: normal;
			font-weight: bold;
			line-height: normal;
			font-size: 65px;
			text-align: center;

			color: $wt;
		}
		.sub-title{
			span{
				font-family: "ProximaNova-Black";
				font-style: normal;
				font-weight: 900;
				line-height: normal;
				font-size: 25px;
				color: $wt;
			}
			
		}
	}
	&__breadcrumbs{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 35px;
	}
}























