.team-wrap{
	background-image: repeating-linear-gradient(180deg, #F0F0F0, #F0F0F0 800px, #ffffff 800px, #ffffff 1600px);
	}
.team__filter{
	margin-bottom: 85px;
	p{
		font-family: "ProximaNova-Bold";
		font-style: normal;
		font-weight: bold;
		line-height: normal;
		font-size: 20px;
		margin-bottom: 10px;
		color: #030202;
	}
	.tabs-trigger{
		margin: 0;
		position: relative;
		list-style: none;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;		
		/* justify-content: space-between; */
		width: 80%;
		z-index: 2;
		border-color: #000;
		li{
			
			/* text-align: center; */

			padding-left: 20px;
			width: 25%;
			padding: 15px 5px;
			padding-left: 20px;
			border-color: #000;
			border-style: solid;
			border-width: 2px 2px ;
			font-family: "ProximaNova-Extrabld";
			font-style: normal;
			font-weight: bold;
			font-size: 15px;
			letter-spacing: 0.5px;
			text-transform: uppercase;
			cursor: pointer;
			color: $black;
			transition: .2s;
			position: relative;
			background: $wt;
			z-index: 1;
			margin-left: -2px;
			line-height: 18px;
			span{
				max-width: 40%;
				display: inline-block;
			}
			&:hover{
				background: #5B2988;
				color: $wt;
				transform: translate(4px, 5px);
				&:after{
					opacity: 0;
				}
			}
			&:after{
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				opacity: 1;
				right: -5px;
				bottom:  -3px;
				transition: .2s;
				/* border-bottom-style:  solid ; */
				border-right-style:    solid ;
				border-color: #000;
				border-width: 5px;
				z-index: -1;
			}
			&.tab-active{
				background: #5B2988;
				color: $wt;
			}
		}
		&:after{
			content: '';
			display: block;
			position: absolute;
			 width: calc(100% - 9px);
			height: 100%;
			left: 5px;
			bottom: -5px;
			transition: .2s;
			border-bottom-style:  solid ;
			border-right-style:    solid ;
			border-color: #000;
			border-width: 5px;
			z-index: -1;
		}
	}
}
.team__items{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 80px;
}
.team-content{
	padding-bottom: 40px;
	margin-bottom: 40px;
	.team-slide{
		margin-bottom: 90px;
		display: none;
	    padding: 50px 50px 15px 35px;
		&__name{
			z-index: 2;
			left: 15px;
			a{
				font-family: "ProximaNova-Black";
				font-style: normal;
				font-weight: 900;
				line-height: 35px;
				font-size: 35px;

				color: #5B2988;

			}
		}
		&__foto{
			text-align: right;
			img{
				height: 285px;
				width: 285px;
				object-fit: cover;
				filter: grayscale(100%);
				transition: .2s;
			}
		}
		&__skill{
			ul{
				li{
					a{
						font-family: "ProximaNova-Black";
						font-style: normal;
						font-weight: 900;
						line-height: 40px;
						font-size: 25px;
						text-align: right;
						text-transform: uppercase;
						padding: 0 5px;
						color: #FFC010;
						&:hover{
							background: rgba(3,2,2,.85);
						}
					}
				}
			}
		}




		&.active{
			display: block;
		}
		&:hover{
			img{
				filter: grayscale(0%);
			}
		}
	}
}

.team__btn{
	text-align: center;
}




























